<div layout='row' layout-align='center center'
     style='background: #00ABAF; width: 100%; height: 34px; position: fixed; z-index: 1'>

  <a layout-margin routerLinkActive
     #rlaUsuarios='routerLinkActive'
     [ngClass]="{'menu-active': rlaUsuarios.isActive}" routerLink='usuarios'
     *hasPermission="['administrador', 'usuarios', 'usuarios/get']; operation 'OR'">
    Usuários
  </a>

  <a layout-margin routerLinkActive
     #rlaGruposAcesso='routerLinkActive'
     [ngClass]="{'menu-active': rlaGruposAcesso.isActive}" routerLink='grupos-acesso'
     *hasPermission="['administrador', 'grupos-acesso', 'grupos-acesso/get']; operation 'OR'">
    Grupos de Acesso
  </a>

</div>

<div class='main-content'>
  <router-outlet></router-outlet>
</div>
