<!doctype html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Integrador</title>

        <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="/resources/css/autenticacao.css">
    </head>
    <body>
        <form class="form-signin" th:action="@{/autenticacao/executar}" th:object="${credential}" method="post">
            <div class="text-center mb-4">
                <img class="mb-4" src="/logo" alt="" width="128" height="128">
                <h1 class="h3 mb-3 font-weight-normal">InTeGrAdOr</h1>
                <p>Sistema de integração com ERP Protheus</p>
            </div>
            <div th:if="${autenticacaoErro}" class="alert alert-danger alert-dismissible fade show" role="alert">
                Falha no login, tente novamente
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-label-group">
                <input type="text" id="inUsername" class="form-control" placeholder="Usuário"
                       th:field="*{username}" required autofocus>
                <label for="inUsername">Usuário</label>
            </div>
            <div class="form-label-group mb-3">
                <input type="password" id="inPassword" class="form-control" placeholder="Senha"
                       th:field="*{password}" required>
                <label for="inPassword">Senha</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

        <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
