<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select="[toolbar]"></ng-content>

  <mat-card>
    <mat-slide-toggle [(ngModel)]='entity.root' [ngModelOptions]='{standalone: true}'
                      *ngIf='authenticationService.user.root' style='margin-bottom: 15px'>
      Root
    </mat-slide-toggle>

    <mat-form-field flex style="display: block">
      <mat-label>E-mail</mat-label>
      <mat-autocomplete #auto='matAutocomplete' [displayWith]='displayFn'>
        <ng-container *ngIf='users?.length'>
          <mat-option *ngFor='let user of users' [value]='user.email' (click)='getEmail()'>
            <span>{{ user?.name }} ({{user?.email }})</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <input [matAutocomplete]='auto' name='email' id='email'
             formControlName='email' maxlength='150' required
             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'
             (keyup)='getEmail()' [(ngModel)]='entity.email' matInput placeholder='E-mail'>

      <mat-error *ngIf="form.controls['email'].hasError('pattern')">
        E-mail inválido, utilize o formato "exemplo@email.com"
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <vertical-space [verticalMargin]='5'></vertical-space>

    <mat-form-field flex style="display: block">
      <mat-label>Nome</mat-label>
      <input maxlength='150' required formControlName='name' matInput
             [(ngModel)]='entity.name' id='name' name='name' placeholder='Nome'/>
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <vertical-space [verticalMargin]='5'></vertical-space>

    <root-form [(accessGroup)]="entity.accessGroup" [form]='form' *ngIf='!entity.root' flex></root-form>
  </mat-card>
</form>