<group-form [entity]='group' (save)='save($event)'>

  <div class='toolbar' layout='row' flex toolbar>
    <div layout='column'>
      <div class='headline' [innerHTML]="'Grupo de Acesso'"></div>
      <div class='subhead' [innerHTML]="'Grupo de Acesso / Adicionar'"></div>
    </div>
    <div layout='row' layout-align='end center' flex>
      <button mat-raised-button type='button' routerLink='../'>
        <mat-icon>arrow_back</mat-icon>
        <span>Voltar</span>
      </button>
      <horizontal-space></horizontal-space>
      <button mat-raised-button color='primary'>
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
      </button>
    </div>
  </div>

</group-form>
