@import '../../portal.component.scss';


.avisos-contratacoes-active {
  color: #2DB45C !important;
}

.avisos-editais-active {
  color: #00ABAF !important;
}

.extratos-contratos-active {
  color: #E44451 !important;
}

.mat-drawer-content {
  overflow:hidden;
}

.padding-page {
  padding-left: 15%!important;
  padding-right: 15%!important;
}
