<template-portal [overflow]='true'>
  <!--LADO ESQUERDO DO TEMPLATE-->
  <div layout='column' layout-align='center start'
       style='height: 100%; padding:10% 25%' left-side>

    <div class='welcome-text'><strong>Acesso ao sistema</strong></div>
    <div class='white'>
      <p>
        O Portal de Compras da Fundação Parque Tecnológico Itaipu – Brasil, foi idealizado, com o objetivo principal de
        proporcionar uma comunicação mais próxima aos fornecedores, resultando em processos de aquisições ainda mais
        transparentes, ágeis e eficientes.
      </p>

      <ul>
        <li>
          <p>
            Em caso de pessoa física, enviar e-mail para o endereço eletrônico
            <br><span class='bold-text'>fornecedores@pti.org.br</span>
            contendo suas informações e serviços prestados.
          </p>
        </li>
        <li>
          <p>Dúvidas podem ser esclarecidas por meio do telefone <br><span class='bold-text'>(45) 3576-7421</span></p>
        </li>
      </ul>
    </div>


  </div>

  <div style='height: 100%; padding:0 25% 0 25%'
       right-side layout='column' layout-align='center start'>

    <h1 class='title-text'>Portal de Compras</h1>
    <div style='padding-bottom: 30px'>Para cadastrar-se no sistema, preencher os campos abaixo.</div>
    <form style='width:100% !important; margin-bottom: 100px'
          (ngSubmit)='saveEntity(form)' [formGroup]='form' novalidate
          *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <div layout='row'>
        <mat-form-field flex class='white-form-field'>
          <input placeholder='CNPJ' (blur)='findCnpj()'
                 [(ngModel)]='fornecedor.usuario.documento'
                 [textMask]='{mask: masks.cnpj, guide: false}'
                 matInput name='cnpj' id='cnpj' formControlName='cnpj'>
          <mat-error *ngIf="form?.controls['cnpj']?.hasError('exception')">
            {{form?.controls['cnpj']?.errors?.exception}}
          </mat-error>
          <mat-error *ngIf="form?.controls['cnpj']?.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <div layout='row'>
        <mat-form-field flex class='white-form-field'>
          <input maxlength='150' matInput
                 placeholder='Razão Social'
                 formControlName='razaoSocial'
                 name='razaoSocial' id='razaoSocial'
                 [(ngModel)]='fornecedor.razaoSocial'>
          <mat-error *ngIf="form?.controls['razaoSocial']?.hasError('exception')">
            {{form?.controls['razaoSocial']?.errors?.exception}}
          </mat-error>
        </mat-form-field>
      </div>

      <div layout='row'>
        <mat-form-field flex class='white-form-field'>
          <input maxLength='150' matInput
                 placeholder='Nome Fantasia'
                 formControlName='nomeFantasia'
                 name='nomeFantasia' id='nomeFantasia'
                 [(ngModel)]='fornecedor.usuario.nome'>
          <mat-error *ngIf="form?.controls['nomeFantasia']?.hasError('exception')">
            {{form?.controls['nomeFantasia']?.errors?.exception}}
          </mat-error>
        </mat-form-field>
      </div>

      <div layout='row' layout-xs='column' layout-sm='column'>
        <mat-form-field flex class='white-form-field' style='margin-right: 10px'>
          <input name='telefone1' id='telefone1'
                 matInput placeholder='Telefone 1'
                 [(ngModel)]='fornecedor.telefones[0]'
                 formControlName='telefone1' maxlength='50'
                 [textMask]='{mask: phoneMask, guide: false }'>
          <mat-error>
            Campo obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field flex class='white-form-field'>
          <input matInput placeholder='Telefone 2'
                 [ngModelOptions]='{standalone: true}'
                 [(ngModel)]='fornecedor.telefones[1]'
                 [textMask]='{mask: phoneMask, guide: false }'
                 name='telefone2' id='telefone2' maxlength='50'/>
        </mat-form-field>
      </div>

      <div layout='row'>
        <mat-form-field flex class='white-form-field'>
          <input name='email' id='email' maxlength='150'
                 placeholder='E-mail' formControlName='email'
                 [(ngModel)]='fornecedor.usuario.email' matInput
                 pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'>
          <mat-error *ngIf="form.controls['email'].hasError('pattern')">
            E-mail inválido, utilize o formato 'email@email.com'
          </mat-error>
          <mat-error *ngIf="form?.controls['email']?.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <div layout='row' layout-align='end end' style='margin-top: 5px'>
        <re-captcha siteKey='{{fornecedor.siteKey}}'
                    formControlName='recaptchaReactive'
                    *ngIf='fornecedor.siteKey' required
                    style='margin-right: -4px !important'
                    (resolved)='resolved($event)' #reCaptcha
                    id='recaptchaReactive' name='recaptchaReactive'>
        </re-captcha>
      </div>

      <div style='font-size: 12px; padding: 30px 0'>
        Ao cadastrar-se, você concorda com os
        <a href='./assets/files/termo.pdf'
           target='_blank' class='bold-text'>“Termos de uso e Políticas de privacidade”</a>.
      </div>

      <div layout='row'>
        <button mat-flat-button color='primary'><strong>CADASTRAR-SE</strong></button>
        <button class='turnback-button' routerLink=''
                mat-flat-button style='margin-left:10px'>
          <strong>VOLTAR</strong>
        </button>
      </div>
    </form>
  </div>
</template-portal>
