<h1 layout-margin mat-dialog-title style='margin-left: 6.5px !important'>Confirmação</h1>
<div layout-margin style='font-size: 13px;margin-top: -19px;color: #4C4C4C'>
  Verifique abaixo se os motivos da recusa do cadastro do fornecedor foram corretamente inseridos:
</div>

<form (ngSubmit)='recusar(true)' novalidate>
  <div mat-dialog-content style='max-height: 100%' layout-margin>

    <div layout='column' flex>
      <div layout='row'>
        <mat-list class='pad-none'>
          <mat-list-item flex mat-icon-button style='margin-left: -17px'
                         *ngFor='let documento of documentos'>
            <mat-icon class='push-right' style='color: #E44451 !important'>cancel</mat-icon>
            <div layout='column' style='font-size: 13px !important;'>
              <label style='color: #00ABAF'>{{documento?.tipoCadastroTipoDocumento?.tipoDocumento?.nome}}</label>
              <span>{{documento?.nome}}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div layout='column' class='push-top'
           style='font-size: 13px;color: #4C4C4C; margin-bottom: 25px'>
        <label style='color: #00ABAF'>Feedback</label>
        {{fornecedor?.feedback}}
      </div>
    </div>

  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-actions>
    <button mat-button color='accent'
            type='button' [mat-dialog-close]='false'>
      Cancelar
    </button>
    <button color='primary' mat-raised-button>
      <mat-icon>send</mat-icon>
      <span>Enviar</span>
    </button>
  </div>
</form>
