@import '../publicacoes-view.component';
.mat-mini-fab {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  line-height: 0px !important;
  padding: 0 0 !important;
  margin-left:10px !important;
  background-color: $greenColor;
  color: #ffffff;
}
