<div class='toolbar' layout='row' flex toolbar>
  <div layout='column'>
    <div class='headline' [innerHTML]="'Fornecedor'"></div>
    <div class='subhead' [innerHTML]="'Fornecedor / Adicionar'"></div>
  </div>
  <div layout='row' layout-align='end center' flex>
    <button mat-raised-button type='button' color='accent' routerLink='../'>
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
    <horizontal-space></horizontal-space>
    <button mat-raised-button type='button' (click)='save(fornecedor)' color='primary'>
      <mat-icon>save</mat-icon>
      <span>Salvar</span>
    </button>
  </div>
</div>

<mat-horizontal-stepper #stepper [class.mat-elevation-z2]='true'>

  <ng-template matStepperIcon='edit'>
    <mat-icon>done</mat-icon>
  </ng-template>

  <ng-template matStepperIcon='done'>
    <mat-icon>done_all</mat-icon>
  </ng-template>


  <mat-step [stepControl]='form?.controls?.dadosGeraisGroup'>
    <dados-gerais-form [entity]='fornecedor' [(form)]='form.controls.dadosGeraisGroup'>

      <!--Title-->
      <ng-template title matStepLabel>Passo 1
        <div class='mat-step-optional ng-star-inserted'>Dados gerais</div>
      </ng-template>

      <!--Divider-->
      <div divider>
        <vertical-space></vertical-space>
        <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
      </div>

      <!--Actions-->
      <div flex actions layout-gt-xs='row'>

        <span flex='95'></span>

        <button color='primary' matStepperNext mat-raised-button>
          Avançar
          <mat-icon>arrow_forward</mat-icon>
        </button>

      </div>

    </dados-gerais-form>
  </mat-step>

  <mat-step [stepControl]='form?.controls?.contatosFormGroup'>
    <contatos-form [entity]='fornecedor' [(form)]='form.controls.contatosFormGroup'>

      <!--Title-->
      <ng-template title matStepLabel>Passo 2
        <div class='mat-step-optional ng-star-inserted'>Contatos</div>
      </ng-template>

      <!--Divider-->
      <div divider>
        <vertical-space></vertical-space>
        <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
      </div>

      <!--Actions-->
      <div flex actions layout-gt-xs='row'>

        <span flex='95'></span>

        <button mat-button matStepperPrevious>Voltar</button>
        <horizontal-space></horizontal-space>
        <button mat-raised-button color='primary' matStepperNext>
          Avançar
          <mat-icon>arrow_forward</mat-icon>
        </button>

      </div>

    </contatos-form>
  </mat-step>

  <mat-step [stepControl]='form?.controls?.dadosBancariosFormGroup'>
    <dados-bancarios-form [entity]='fornecedor' [(form)]='form.controls.dadosBancariosFormGroup'>

      <ng-template title matStepLabel>Passo 3
        <div class='mat-step-optional ng-star-inserted'>Dados bancários</div>
      </ng-template>

      <!--Divider-->
      <div divider>
        <vertical-space></vertical-space>
        <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
      </div>

      <!--Actions-->
      <div flex actions layout-gt-xs='row'>

        <span flex='95'></span>

        <button mat-button matStepperPrevious>Voltar</button>
        <horizontal-space></horizontal-space>
        <button mat-raised-button color='primary' matStepperNext>
          Avançar
          <mat-icon>arrow_forward</mat-icon>
        </button>

      </div>

    </dados-bancarios-form>
  </mat-step>

  <mat-step [stepControl]='form.controls.documentosFormGroup'>
    <documentos-form [entity]='fornecedor' [(form)]='form.controls.documentosFormGroup'>

      <ng-template title matStepLabel>Passo 4
        <div class='mat-step-optional ng-star-inserted'>Documentos</div>
      </ng-template>

      <!--Divider-->
      <div divider>
        <vertical-space></vertical-space>
        <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
      </div>

      <!--Actions-->
      <div flex actions layout-gt-xs='row'>

        <span flex='95'></span>

        <button mat-button matStepperPrevious>Voltar</button>
        <horizontal-space></horizontal-space>
        <button mat-raised-button (click)='save(fornecedor)' color='primary' matStepperNext>
          <mat-icon>save</mat-icon>
          Salvar
        </button>

      </div>

    </documentos-form>
  </mat-step>

</mat-horizontal-stepper>
