<div [formGroup]='form.controls.pessoaFisica'>
  <div layout='row' layout-sm='column' layout-xs='column'>

    <ng-content select='[tipo-pessoa]'></ng-content>

    <horizontal-space></horizontal-space>

    <mat-form-field flex='15' flex-sm='100' flex-xs='100'>
      <input formControlName='cpf' required
             matInput name='cpf' id='cpf' maxLength='14'
             [textMask]='{mask: masks.cpf, guide: false}'
             [(ngModel)]='fornecedor.usuario.documento' placeholder='CPF'>
      <mat-error *ngIf="form?.controls?.pessoaFisica?.controls['cpf']?.hasError('exception')">
        {{form?.controls?.pessoaFisica?.controls['cpf']?.errors?.exception}}
      </mat-error>
      <mat-error *ngIf="form?.controls?.pessoaFisica?.controls['cpf']?.hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <horizontal-space></horizontal-space>

    <ng-content select='[nome]'></ng-content>
  </div>

  <div layout='row' layout-sm='column' layout-xs='column'>
    <ng-content select='[atividades-economicas]'></ng-content>
    <horizontal-space></horizontal-space>
    <ng-content select='[categorias-enquadradas]'></ng-content>
  </div>

  <ng-content select='[descricao-e-atividades]'></ng-content>
</div>
