<form layout='column' flex [formGroup]='form?.controls?.dadosGerais'>

  <!-- Tittle content-->
  <ng-content select='[tittle]'></ng-content>

  <vertical-space></vertical-space>

  <!--Content-->
  <div layout='row'>
    <fornecedor-pessoa-juridica-form [form]='form.controls.dadosGerais' flex
                                     [atividadesEconomicas]='atividadesEconomicas'
                                     [fornecedor]='entity' *ngIf='entity && entity?.souEmpresa'>
      <mat-form-field flex='50' flex-sm='100' flex-xs='100' tipo-pessoa>
        <mat-select placeholder='Tipo de Pessoa' [(value)]='entity.souEmpresa'>
          <mat-option [value]='true'>
            Pessoa Jurídica
          </mat-option>
          <mat-option [value]='false'>
            Pessoa Física
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field flex flex-sm='100' nome>
        <input id='nome' name='nome'
               matInput maxLength='150'
               placeholder='Nome Fantasia'
               required formControlName='nome'
               [(ngModel)]='entity.usuario.nome'/>
        <mat-error *ngIf="form?.controls?.dadosGerais?.controls['nome']?.hasError('exception')">
          {{form?.controls?.dadosGerais?.controls['nome']?.errors?.exception}}
        </mat-error>
      </mat-form-field>

      <mat-form-field atividades-economicas flex='50' flex-md='50' flex-sm='100' flex-xs='100'
                      [ngStyle]="{'margin-top': (entity?.atividadesEconomicas?.length ? '-1.5px' : '15px')}">
        <mat-select [(ngModel)]='entity.atividadesEconomicas'
                    [compareWith]='compareAtividadesEconomicas'
                    placeholder='Atividades Econômicas' required
                    formControlName='atividadesEconomicas' multiple
                    id='atividadesEconomicas' name='atividadesEconomicas'>
          <mat-select-trigger>

            <mat-chip-list>
              <mat-chip *ngFor="let chip of entity.atividadesEconomicas"> {{chip | translate}}</mat-chip>
            </mat-chip-list>

          </mat-select-trigger>

          <mat-option [value]="'INDUSTRIA_COMERCIO'">
            Indústria e Comércio
          </mat-option>
          <mat-option [value]="'PRESTACAO_SERVICOS'">
            Serviços
          </mat-option>

        </mat-select>
        <mat-error *ngIf="form?.controls?.dadosGerais?.controls['atividadesEconomicas']?.hasError('exception')">
          {{form?.controls?.dadosGerais?.controls['atividadesEconomicas']?.errors?.exception}}
        </mat-error>
      </mat-form-field>

      <mat-form-field flex style='margin-top: 15px' categorias-enquadradas>
        <mat-select [compareWith]='compareCategorias'
                    placeholder='Categorias Enquadradas'
                    [(ngModel)]='entity.categoriasFornecedor'
                    formControlName='categoriasFornecedor' multiple
                    id='categoriasFornecedor' name='categoriasFornecedor'>
          <mat-select-trigger>

            {{entity?.categoriasFornecedor?.length === 1 ? entity?.categoriasFornecedor[0]?.categoria?.nome : (entity?.categoriasFornecedor?.length > 1 ? (entity?.categoriasFornecedor[0]?.categoria?.nome + ',' + entity?.categoriasFornecedor[1]?.categoria?.nome) : '')}}
            <span *ngIf="entity?.categoriasFornecedor?.length > 2">
              (+{{entity?.categoriasFornecedor?.length - 2}} {{entity?.categoriasFornecedor?.length === 3 ? 'outro' : 'outros'}}
              )
            </span>

          </mat-select-trigger>
          <mat-option *ngFor="let categoriaFornecedor of categoriasList"
                      [value]="{id : categoriaFornecedor.id, fornecedor: {id : entity.id}, categoria : categoriaFornecedor.categoria}">
            {{categoriaFornecedor?.categoria?.nome}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form?.controls?.dadosGerais?.controls['categoriasFornecedor']?.hasError('exception')">
          {{form?.controls?.dadosGerais?.controls['categoriasFornecedor']?.errors?.exception}}
        </mat-error>
        <mat-hint>
          Caso não encontre a sua categoria, favor entrar em contato pelo telefone:
          <a style='color: #00ABAF' name="tel" href="tel:55453576-7421">+55(45) 3576-7421</a>
        </mat-hint>
      </mat-form-field>

      <div descricao-e-atividades>
        <div layout='row' layout-md='column' layout-sm='column' layout-xs='column'>

          <mat-form-field flex>
            <textarea [(ngModel)]='entity.descricaoProdutosServicos' required
                      id='descricaoProdutosServicos' name='descricaoProdutosServicos'
                      placeholder='Breve descrição dos principais produtos / serviços'
                      formControlName='descricaoProdutosServicos' matInput maxlength='250'>
            </textarea>
            <mat-error
                *ngIf="form?.controls?.dadosGerais?.controls['descricaoProdutosServicos']?.hasError('exception')">
              {{form?.controls?.dadosGerais?.controls['descricaoProdutosServicos']?.errors?.exception}}
            </mat-error>
          </mat-form-field>

        </div>

        <div layout='row' layout-md='column' layout-sm='column' layout-xs='column'>

          <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'
                          [ngStyle]="{'margin-top': (entity?.atividadesEconomicasPrimarias?.length ? '-1.5px' : '15px')}">
            <mat-chip-list formArrayName='atividadesEconomicasPrimarias'
                           #chipList aria-label='Atividade Econômica Primária'>
              <mat-chip (removed)="remove(atividadeEconomica)" style='max-width: 100%'
                        *ngFor="let atividadeEconomica of entity.atividadesEconomicasPrimarias">
                {{ atividadeEconomica?.code }} - {{ atividadeEconomica?.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>

              <input #atividadesEconomicasPrimarias
                     placeholder='Atividade Econômica Primária'
                     [matAutocomplete]="auto" [matChipInputFor]="chipList"
                     (keyup)='atividadesEconomicasPrimariasChanged(filtro)'
                     [(ngModel)]='filtro' [ngModelOptions]='{standalone: true}'
                     id='atividadesEconomicasPrimarias' name='atividadesEconomicasPrimarias'>

            </mat-chip-list>

            <mat-autocomplete #auto='matAutocomplete' (optionSelected)="add($event)">
              <div *ngIf='entity?.atividadesEconomicasPrimarias?.length < 1'>
                <mat-option [value]="atividadeEconomica" *ngFor="let atividadeEconomica of atividadesEconomicas">
                  {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
                </mat-option>
              </div>
            </mat-autocomplete>

            <mat-error
                *ngIf="form?.controls?.dadosGerais?.controls['atividadesEconomicasPrimarias']?.hasError('exception')">
              {{form?.controls?.dadosGerais?.controls['atividadesEconomicasPrimarias']?.errors?.exception}}
            </mat-error>

          </mat-form-field>

          <horizontal-space></horizontal-space>

          <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'
                          [ngStyle]="{'margin-top': (entity?.atividadesEconomicasSecundarias?.length ? '-1.5px' : '15px')}">

            <mat-chip-list #chipListSecundaria
                           aria-label='Atividades Econômicas Secundárias'
                           formArrayName='atividadesEconomicasSecundarias'>

              <mat-chip *ngFor="let atividadeEconomica of entity.atividadesEconomicasSecundarias"
                        style='max-width: 100%' (removed)="removeAtividadeSecundaria(atividadeEconomica)">
                {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>

              <input [matChipInputFor]="chipListSecundaria"
                     placeholder='Atividades Econômicas Secundárias'
                     #atividadesEconomicasSecundarias [matAutocomplete]="autoSecundaria"
                     (keyup)='atividadesEconomicasSecundariasChanged(filtroAtividadeSecundaria)'
                     id='atividadesEconomicasSecundarias' name='atividadesEconomicasSecundarias'
                     [(ngModel)]='filtroAtividadeSecundaria' [ngModelOptions]='{standalone: true}'>

            </mat-chip-list>

            <mat-autocomplete #autoSecundaria='matAutocomplete' (optionSelected)="addAtividadeSecundaria($event)">
              <mat-option [value]="atividadeEconomica" *ngFor="let atividadeEconomica of atividadesEconomicas">
                {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
              </mat-option>
            </mat-autocomplete>

            <mat-error
                *ngIf="form?.controls?.dadosGerais?.controls['atividadesEconomicasSecundarias']?.hasError('exception')">
              {{form?.controls?.dadosGerais?.controls['atividadesEconomicasSecundarias']?.errors?.exception}}
            </mat-error>

          </mat-form-field>
        </div>
      </div>

    </fornecedor-pessoa-juridica-form>

    <fornecedor-pessoa-fisica-form [form]='form.controls.dadosGerais' flex
                                   [fornecedor]='entity' *ngIf='!entity?.souEmpresa'>

      <mat-form-field flex='15' flex-sm='100' flex-xs='100' tipo-pessoa>
        <mat-select placeholder='Tipo de Pessoa' [(value)]='entity.souEmpresa'>
          <mat-option [value]='true'>
            Pessoa Jurídica
          </mat-option>
          <mat-option [value]='false'>
            Pessoa Física
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field flex flex-sm='100' nome>
        <input placeholder='Nome'
               formControlName='nome'
               maxLength='150' required
               matInput id='nome' name='nome'
               [(ngModel)]='entity.usuario.nome'/>
        <mat-error *ngIf="form?.controls?.pessoaJuridica?.controls['nome']?.hasError('exception')">
          {{form?.controls?.pessoaJuridica?.controls['nome']?.errors?.exception}}
        </mat-error>
      </mat-form-field>

      <mat-form-field atividades-economicas flex
                      [ngStyle]="{'margin-top': (entity?.atividadesEconomicas?.length ? '-1.5px' : '15px')}">
        <mat-select formControlName='atividadesEconomicas'
                    [(ngModel)]='entity.atividadesEconomicas'
                    [compareWith]='compareAtividadesEconomicas'
                    required multiple placeholder='Atividades Econômicas'
                    id='atividadesEconomicas' name='atividadesEconomicas'>
          <mat-select-trigger>

            <mat-chip-list>
              <mat-chip *ngFor="let chip of entity.atividadesEconomicas"> {{chip | translate}}</mat-chip>
            </mat-chip-list>

          </mat-select-trigger>

          <mat-option [value]="'INDUSTRIA_COMERCIO'">
            Indústria e Comércio
          </mat-option>
          <mat-option [value]="'SERVICOS'">
            Serviços
          </mat-option>

        </mat-select>
        <mat-error *ngIf="form?.controls?.dadosGerais?.controls['atividadesEconomicas']?.hasError('exception')">
          {{form?.controls?.dadosGerais?.controls['atividadesEconomicas']?.errors?.exception}}
        </mat-error>
      </mat-form-field>

      <mat-form-field flex style='margin-top: 15px' categorias-enquadradas>
        <mat-select multiple required
                    [compareWith]='compareCategorias'
                    placeholder='Categorias Enquadradas'
                    formControlName='categoriasFornecedor'
                    [(ngModel)]='entity.categoriasFornecedor'>
          <mat-select-trigger>

            {{entity?.categoriasFornecedor?.length === 1 ? entity?.categoriasFornecedor[0]?.categoria?.nome : (entity?.categoriasFornecedor?.length > 1 ? (entity?.categoriasFornecedor[0]?.categoria?.nome + ',' + entity?.categoriasFornecedor[1]?.categoria?.nome) : '')}}
            <span *ngIf="entity?.categoriasFornecedor?.length > 2">
              (+{{entity?.categoriasFornecedor?.length - 2}} {{entity?.categoriasFornecedor?.length === 3 ? 'outro' : 'outros'}}
              )
            </span>

          </mat-select-trigger>
          <mat-option *ngFor="let categoriaFornecedor of categoriasList"
                      [value]="{id : categoriaFornecedor.id, fornecedor: {id : entity.id}, categoria : categoriaFornecedor.categoria}">
            {{categoriaFornecedor?.categoria?.nome}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form?.controls?.dadosGerais?.controls['categoriasFornecedor']?.hasError('exception')">
          {{form?.controls?.dadosGerais?.controls['categoriasFornecedor']?.errors?.exception}}
        </mat-error>
        <mat-hint>
          Caso não encontre a sua categoria, favor entrar em contato pelo telefone:
          <a style='color: #00ABAF' name="tel" href="tel:55453576-7421">+55(45) 3576-7421</a>
        </mat-hint>
      </mat-form-field>

      <div descricao-e-atividades>
        <div layout='row' layout-md='column' layout-sm='column' layout-xs='column'>

          <mat-form-field flex>
            <textarea [(ngModel)]='entity.descricaoProdutosServicos' required
                      id='descricaoProdutosServicos' name='descricaoProdutosServicos'
                      placeholder='Breve descrição dos principais produtos / serviços'
                      formControlName='descricaoProdutosServicos' matInput maxlength='250'>
            </textarea>
            <mat-error
                *ngIf="form?.controls?.dadosGerais?.controls['descricaoProdutosServicos']?.hasError('exception')">
              {{form?.controls?.dadosGerais?.controls['descricaoProdutosServicos']?.errors?.exception}}
            </mat-error>
          </mat-form-field>

        </div>

        <div layout='row' layout-md='column' layout-sm='column' layout-xs='column'>

          <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'
                          [ngStyle]="{'margin-top': (entity?.atividadesEconomicasPrimarias?.length ? '-1.5px' : '15px')}">
            <mat-chip-list formArrayName='atividadesEconomicasPrimarias'
                           #chipList aria-label='Atividade Econômica Primária'>
              <mat-chip (removed)="remove(atividadeEconomica)" style='max-width: 100%'
                        *ngFor="let atividadeEconomica of entity.atividadesEconomicasPrimarias">
                {{ atividadeEconomica?.code }} - {{ atividadeEconomica?.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>

              <input #atividadesEconomicasPrimariasInput
                     placeholder='Atividade Econômica Primária'
                     [matAutocomplete]="auto" [matChipInputFor]="chipList"
                     (keyup)='atividadesEconomicasPrimariasChanged(filtro)'
                     [(ngModel)]='filtro' [ngModelOptions]='{standalone: true}'
                     id='atividadesEconomicasPrimarias' name='atividadesEconomicasPrimarias'>

            </mat-chip-list>

            <mat-autocomplete #auto='matAutocomplete' (optionSelected)="add($event)">
              <div *ngIf='entity?.atividadesEconomicasPrimarias?.length < 1'>
                <mat-option [value]="atividadeEconomica" *ngFor="let atividadeEconomica of atividadesEconomicas">
                  {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
                </mat-option>
              </div>
            </mat-autocomplete>

            <mat-error
                *ngIf="form?.controls?.dadosGerais?.controls['atividadesEconomicasPrimarias']?.hasError('exception')">
              {{form?.controls?.dadosGerais?.controls['atividadesEconomicasPrimarias']?.errors?.exception}}
            </mat-error>

          </mat-form-field>

          <horizontal-space></horizontal-space>

          <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'
                          [ngStyle]="{'margin-top': (entity?.atividadesEconomicasSecundarias?.length ? '-1.5px' : '15px')}">
            <mat-chip-list #chipListSecundaria
                           aria-label='Atividades Econômicas Secundárias'
                           formArrayName='atividadesEconomicasSecundarias'>

              <mat-chip *ngFor="let atividadeEconomica of entity.atividadesEconomicasSecundarias"
                        style='max-width: 100%' (removed)="removeAtividadeSecundaria(atividadeEconomica)">
                {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>

              <input [matChipInputFor]="chipListSecundaria"
                     placeholder='Atividades Econômicas Secundárias'
                     #atividadesEconomicasSecundariasInput [matAutocomplete]="autoSecundaria"
                     (keyup)='atividadesEconomicasSecundariasChanged(filtroAtividadeSecundaria)'
                     id='atividadesEconomicasSecundarias' name='atividadesEconomicasSecundarias'
                     [(ngModel)]='filtroAtividadeSecundaria' [ngModelOptions]='{standalone: true}'>

            </mat-chip-list>

            <mat-autocomplete #autoSecundaria='matAutocomplete' (optionSelected)="addAtividadeSecundaria($event)">
              <mat-option [value]="atividadeEconomica" *ngFor="let atividadeEconomica of atividadesEconomicas">
                {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
              </mat-option>
            </mat-autocomplete>

            <mat-error
                *ngIf="form?.controls?.dadosGerais?.controls['atividadesEconomicasSecundarias']?.hasError('exception')">
              {{form?.controls?.dadosGerais?.controls['atividadesEconomicasSecundarias']?.errors?.exception}}
            </mat-error>

          </mat-form-field>
        </div>
      </div>

    </fornecedor-pessoa-fisica-form>

  </div>

  <!--Divider content-->
  <ng-content select='[divider]'></ng-content>

  <vertical-space></vertical-space>

  <!-- Toolbar content-->
  <ng-content select='[actions]'></ng-content>

</form>
