./target
./target/**
./.idea
./.idea/**
./.settings
./.settings/**
./.apt_generated
./.apt_generated/**
./.classpath
./.springBeans

target
/target
/target/**
/.idea
/.idea/**
/.settings
/.apt_generated
/.apt_generated/**
/.classpath
/.springBeans
/bin/
\.factorypath
\.project
src/main/ts/\.history/

*.iml

src/main/ts/ngrok

package-lock.json

node_modules

src/main/resources/META-INF/resources/modules/
