<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select='[toolbar]'></ng-content>

  <mat-card id='default-form'>
    <div layout='row'>

      <mat-form-field flex>
        <input placeholder='Número do processo'
               formControlName='numeroProcesso' required
               [(ngModel)]='entity.numeroProcesso' maxlength='20'
               matInput id='numeroProcesso' name='numeroProcesso'/>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex>
        <input placeholder='Razão social'
               name='razaoSocial' matInput
               formControlName='razaoSocial'
               id='razaoSocial' maxlength='250'
               [(ngModel)]='entity.razaoSocial'/>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex>
        <mat-select placeholder='Modalidade' [(value)]='entity.modalidade'>
          <mat-option [value]='modalidade' *ngFor='let modalidade of modalidades'>
            {{modalidade}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex>
        <input required maxlength='20' matInput
               placeholder='Número da modalidade'
               formControlName='numeroModalidade'
               [(ngModel)]='entity.numeroModalidade'
               id='numeroModalidade' name='numeroModalidade'/>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>

      <horizontal-space *ngIf='entity?.id'></horizontal-space>

      <mat-form-field *ngIf='entity?.id' flex>
        <input [ngModelOptions]='{standalone: true}'
               name='dataPublicacao' id='dataPublicacao'
               matInput placeholder='Data da publicação'
               [textMask]='{mask: masks.date, guide: false}'
               disabled flex [(ngModel)]='entity.dataPublicacao'/>
      </mat-form-field>

      <!--<ev-datepicker flex-->
      <!--[(dataInput)]='entity.dataPublicacao'>-->
      <!--<mat-form-field>-->
      <!--<input flex [(ngModel)]='entity.dataPublicacao'-->
      <!--name='dataPublicacao' id='dataPublicacao'-->
      <!--matInput placeholder='Data da publicação'-->
      <!--formControlName='dataPublicacao' required-->
      <!--[textMask]='{mask: masks.date, guide: false}'/>-->
      <!--<mat-error>-->
      <!--Este campo é obrigatório-->
      <!--</mat-error>-->
      <!--</mat-form-field>-->
      <!--</ev-datepicker>-->

    </div>
    <div layout='row'>
      <mat-form-field flex>
        <textarea formControlName='objeto'
                  required maxlength='500'
                  id='objeto' name='objeto'
                  [(ngModel)]='entity.objeto'
                  matInput placeholder='Objeto'>
        </textarea>
        <mat-hint align='end'>
          {{entity?.objeto?.length}} / 500
        </mat-hint>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <vincular-anexos [form]='form' [(anexos)]='entity.anexos'
                     (remove)='removeAnexoPublicacao($event)'>
    </vincular-anexos>

  </mat-card>
</form>
