<form [formGroup]='form' (ngSubmit)='updatePassword(form)' novalidate>
  <h1 mat-dialog-title style="color: #002E63">Alterar senha</h1>
  <div layout="column">
    <mat-form-field flex>
      <mat-label>Senha atual:</mat-label>
      <input matInput type="password" placeholder="Senha atual"
             [(ngModel)]="dialogUser.actualPassword" maxlength="100"
             id="actualPassword" name="actualPassword" formControlName='actualPassword'/>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="form?.get('actualPassword')?.hasError('required')">
        Qual é a senha atual?
      </mat-error>
    </mat-form-field>
    <vertical-space [verticalMargin]='5'></vertical-space>
    <mat-form-field flex>
      <mat-label>Nova senha:</mat-label>
      <input [(ngModel)]="dialogUser.newPassword" matInput
             type="password" placeholder="Nova senha" maxlength="100"
             id='newPassword' name="newPassword" formControlName="newPassword"
             (keyup)="form?.get('confirmNewPassword')?.updateValueAndValidity()"/>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="form?.get('newPassword')?.hasError('exception')">
        {{form?.get('newPassword')?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <vertical-space [verticalMargin]='5'></vertical-space>
    <mat-form-field flex>
      <mat-label>Confirmar nova senha:</mat-label>
      <input matInput type="password" placeholder="Confirmar nova senha"
             [(ngModel)]="dialogUser.confirmNewPassword" maxlength="100"
             name="confirmNewPassword" id="confirmNewPassword" formControlName='confirmNewPassword'/>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="form?.get('confirmNewPassword')?.hasError('exception')">
        {{form?.get('confirmNewPassword')?.errors?.exception}}
      </mat-error>
    </mat-form-field>
  </div>

  <div id="space"></div>
  <mat-divider></mat-divider>

  <div mat-dialog-actions>
    <button mat-button color="accent" type='button' mat-dialog-close cdkFocusInitial>Cancelar</button>
    <button mat-button color="primary">Confirmar</button>
  </div>
</form>
