<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select='[toolbar]'></ng-content>

  <mat-card>
    <mat-slide-toggle [(ngModel)]='entity.root'
                      style='margin-bottom: 15px'
                      [ngModelOptions]='{standalone: true}'
                      *ngIf='authenticationService.user.root'>
      Root
    </mat-slide-toggle>

    <mat-form-field flex style="display: block">
      <mat-label>Nome de Usuário</mat-label>
      <input maxlength='150' required
             formControlName='username'
             matInput placeholder='Nome'
             [(ngModel)]='entity.username'
             id='username' name='username'/>
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <!--    <mat-form-field flex style="display: block">-->
    <!--      <mat-label>E-mail</mat-label>-->
    <!--      <mat-autocomplete #auto='matAutocomplete' [displayWith]='displayFn'>-->
    <!--        <ng-container *ngIf='users?.length'>-->
    <!--          <mat-option *ngFor='let user of users' [value]='user.username' (click)='getEmail()'>-->
    <!--            <span>{{ user?.name }} ({{user?.username }})</span>-->
    <!--          </mat-option>-->
    <!--        </ng-container>-->
    <!--      </mat-autocomplete>-->
    <!--      <input [matAutocomplete]='auto' name='username' id='username'-->
    <!--             formControlName='username' maxlength='150' required-->
    <!--             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'-->
    <!--             (keyup)='getEmail()' [(ngModel)]='entity.username' matInput placeholder='E-mail'>-->

    <!--      <mat-error *ngIf="form.controls['username'].hasError('pattern')">-->
    <!--        E-mail inválido, utilize o formato "exemplo@username.com"-->
    <!--      </mat-error>-->
    <!--      <mat-error *ngIf="form.controls['username'].hasError('required')">-->
    <!--        Esse campo é obrigatório-->
    <!--      </mat-error>-->
    <!--    </mat-form-field>-->

    <vertical-space [verticalMargin]='5'></vertical-space>

    <mat-form-field flex style="display: block">
      <mat-label>Nome</mat-label>
      <input maxlength='150' matInput
             [(ngModel)]='entity.name'
             required formControlName='name'
             id='name' name='name' placeholder='Nome'/>
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <vertical-space [verticalMargin]='5'></vertical-space>

    <root-form [(group)]='entity.group'
               flex [form]='form' *ngIf='!entity.root'>
    </root-form>
  </mat-card>
</form>
