<div layout='row' layout-align='center center' class='nav-menu'>

  <a [ngClass]="{'menu-active': rlaInventarios.isActive}"
     layout-margin routerLinkActive #rlaInventarios='routerLinkActive'
     routerLink='inventarios' *hasPermission="['root', 'inventarios', 'inventarios/get']; operation 'OR'">
    {{authenticationService?.usuarioAutenticado?.root || authenticationService?.usuarioAutenticado?.isPatrimonio ? 'Inventários' : 'Meus Inventários'}}
  </a>

  <horizontal-space></horizontal-space>

  <a layout-margin routerLinkActive #rlaPatrimonios='routerLinkActive'
     [ngClass]="{'menu-active': rlaPatrimonios.isActive}" routerLink='patrimonios'
     *ngIf='authenticationService?.usuarioAutenticado?.root || authenticationService?.usuarioAutenticado?.isPatrimonio || authenticationService?.usuarioAutenticado?.isGestor'>
    {{!authenticationService?.usuarioAutenticado?.root && !authenticationService?.usuarioAutenticado?.isPatrimonio && authenticationService?.usuarioAutenticado?.isGestor ? 'Meus Patrimônios' : 'Patrimônios'}}
  </a>

<!--  <horizontal-space></horizontal-space>-->

<!--  <a layout-margin (click)='export()'-->
<!--     *ngIf='authenticationService?.usuarioAutenticado?.root || authenticationService?.usuarioAutenticado?.isPatrimonio'>-->
<!--    Arquivo de exportação-->
<!--  </a>-->
</div>

<div class='main-content'>
  <router-outlet></router-outlet>
</div>
