<div class='toolbar' layout='row' flex>
  <div layout='column'>
    <div class='headline' [innerHTML]="'Bens'"></div>
    <div class='subhead' [innerHTML]="'Inventário / Executar'"></div>
  </div>

  <div layout='row' layout-align='end center' flex>

    <button mat-raised-button style='background-color: #2DB45C!important; color: #FFFFFF!important'
            (click)='aprovarCentroCustoInventario(centroCustoInventario?.inventario?.id, centroCustoInventario?.centroCusto?.codigo)'
            *ngIf="centroCustoInventario?.status === 'EM_ANALISE' && (centroCustoInventario.centroCusto.gestor.id === authenticationService.usuarioAutenticado.id || authenticationService.usuarioAutenticado.root)">
      <mat-icon>done</mat-icon>
      <span>Aprovar</span>
    </button>

    <horizontal-space
        *ngIf="centroCustoInventario?.status === 'EM_ANALISE' && (centroCustoInventario.centroCusto.gestor.id === authenticationService.usuarioAutenticado.id || authenticationService.usuarioAutenticado.root)"></horizontal-space>

    <button mat-raised-button style='background-color: #F6B800!important; color: #FFFFFF!important'
            (click)='executarCentroCustoInventario(centroCustoInventario?.inventario?.id, centroCustoInventario?.centroCusto?.codigo)'
            *ngIf="centroCustoInventario?.status === 'EM_ANALISE' && (centroCustoInventario.centroCusto.gestor.id === authenticationService.usuarioAutenticado.id || authenticationService.usuarioAutenticado.root)">
      <mat-icon>send</mat-icon>
      <span>Devolver para execução</span>
    </button>

    <horizontal-space
        *ngIf="centroCustoInventario?.status === 'EM_ANALISE' && (centroCustoInventario.centroCusto.gestor.id === authenticationService.usuarioAutenticado.id || authenticationService.usuarioAutenticado.root)"></horizontal-space>

    <button style='background-color: #F6B800!important; color: #ffffff!important'
            *ngIf="centroCustoInventario?.status === 'EM_EXECUCAO'" mat-raised-button
            (click)='toAnaliseCentroCustoInventario(centroCustoInventario.inventario.id, centroCustoInventario.centroCusto.codigo)'>
      <mat-icon>send</mat-icon>
      <span>Concluir e submeter à análise</span>
    </button>

    <horizontal-space *ngIf="centroCustoInventario?.status === 'EM_EXECUCAO'"></horizontal-space>

    <button mat-raised-button color='primary' (click)='openExtenderDataTermino(centroCustoInventario)'
            *ngIf='centroCustoInventario?.terminado && (authenticationService.usuarioAutenticado?.root || authenticationService?.usuarioAutenticado?.isPatrimonio)'>
      <mat-icon>alarm_add</mat-icon>
      <span>Extender data de término</span>
    </button>

    <horizontal-space
        *ngIf='centroCustoInventario?.terminado && (authenticationService.usuarioAutenticado?.root || authenticationService?.usuarioAutenticado?.isPatrimonio)'></horizontal-space>

    <button mat-raised-button type='button' color='accent' routerLink='../../'>
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>

  </div>
</div>

<mat-card id='default-form'>
  <div layout='row' layout-sm='column' layout-xs='column'>
    <div layout='column' flex>
      <label class='title'>Nome do Inventário:</label>
      <label class='text'>{{ centroCustoInventario?.inventario?.nome }}</label>
    </div>

    <vertical-space></vertical-space>

    <div layout='column' flex>
      <label class='title'>Centro de Custo:</label>
      <label class='text'>{{ centroCustoInventario?.centroCusto?.descricao }}
        ({{ centroCustoInventario?.centroCusto?.codigo }})</label>
    </div>

    <vertical-space></vertical-space>

    <div layout='column' flex>
      <label class='title'>Data de Início:</label>
      <label class='text'>{{ centroCustoInventario?.inventario?.dataInicio }}</label>
    </div>

    <vertical-space></vertical-space>

    <div layout='column' flex>
      <label class='title'>Data de Término:</label>
      <label class='text'>{{ centroCustoInventario?.inventario?.dataTermino }}</label>
    </div>

    <vertical-space *ngIf='centroCustoInventario?.dataTerminoExtendida'></vertical-space>

    <div layout='column' flex *ngIf='centroCustoInventario?.dataTerminoExtendida'>
      <label class='title' style='color: #E44451'>Data de Término Extendida:</label>
      <label class='text' style='color: rgb(255,149,144)'>{{ centroCustoInventario?.dataTerminoExtendida }}</label>
    </div>
  </div>

  <vertical-space></vertical-space>

  <mat-divider style='margin-top: 13px'></mat-divider>

  <div layout='row' layout-sm='column' layout-xs='column' style='margin-top: 48px'>
    <div layout='column' flex>

      <div layout='column' layout-gt-md='row' flex>

        <mat-form-field flex='30' flex-gt-sm='25' style='margin-bottom: 0'>
          <input noSubmit matInput maxlength='200'
                 (ngModelChange)='modelChange.next()'
                 [ngModelOptions]='{standalone: true}'
                 [(ngModel)]='filter.descricaoPatrimonioFilter'
                 placeholder='Filtre pela descrição do patrimônio'
                 id='descricaoPatrimonioFilter' name='descricaoPatrimonioFilter'>
        </mat-form-field>

        <horizontal-space hide-xs></horizontal-space>

        <mat-form-field flex='30' flex-gt-sm='25' style='margin-bottom: 0'>
          <input noSubmit matInput maxlength='200'
                 (ngModelChange)='modelChange.next()'
                 [ngModelOptions]='{standalone: true}'
                 [(ngModel)]='filter.descricaoLocalizacaoFilter'
                 placeholder='Filtre pela descrição da localidade'
                 id='descricaoLocalizacaoFilter' name='descricaoLocalizacaoFilter'>
        </mat-form-field>

        <horizontal-space hide-xs></horizontal-space>

        <mat-form-field flex='20' style='margin-bottom: 0'>
          <input maxlength='200' noSubmit matInput
                 (ngModelChange)='modelChange.next()'
                 [ngModelOptions]='{standalone: true}'
                 [(ngModel)]='filter.numeroPlaquetaFilter'
                 placeholder='Filtre pelo número da plaqueta'
                 id='numeroPlaquetaFilter' name='numeroPlaquetaFilter'>
        </mat-form-field>

        <horizontal-space hide-xs></horizontal-space>

        <mat-form-field flex='20'>
          <mat-label>Filtre pela situação do patrimônio</mat-label>
          <mat-select name='naoEncontradoFilter'
                      disableOptionCentering='true'
                      [(ngModel)]='filter.encontradoFilter'
                      (selectionChange)='modelChange.next()'>
            <mat-option [value]='undefined'></mat-option>
            <mat-option [value]='true'>Encontrado</mat-option>
            <mat-option [value]='false'>Não Encontrado</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-tab-group
          *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
        <mat-tab>
          <ng-template mat-tab-label>Patrimônios</ng-template>
          <inventariar-patrimonios flex layout='column' [(changed)]='changed'
                                   *ngIf='centroCustoInventario?.centroCusto?.codigo'
                                   [filter]='filter' [entity]='centroCustoInventario'>
          </inventariar-patrimonios>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>Novos patrimônios</ng-template>
          <novos-patrimonios flex layout='column' [(changed)]='changed'
                             *ngIf='centroCustoInventario?.centroCusto?.codigo'
                             [filter]='filter' [entity]='centroCustoInventario'>
          </novos-patrimonios>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>Sobras Físicas</ng-template>
          <sobras-fisicas flex layout='column' [(changed)]='changed'
                          *ngIf='centroCustoInventario?.centroCusto?.codigo'
                          [filter]='filter' [entity]='centroCustoInventario'>
          </sobras-fisicas>
        </mat-tab>
        <!--        <mat-tab *ngIf='centroCustoInventario?.dataTerminoExtendida'>-->

        <!--          <ng-template mat-tab-label>Não Encontrados</ng-template>-->
        <!--&lt;!&ndash;          <patrimonios-nao-encontrados flex layout='column' [(changed)]='changed'&ndash;&gt;-->
        <!--&lt;!&ndash;                                       *ngIf='centroCustoInventario?.centroCusto?.codigo'&ndash;&gt;-->
        <!--&lt;!&ndash;                                       [filter]='filter' [entity]='centroCustoInventario'>&ndash;&gt;-->
        <!--&lt;!&ndash;          </patrimonios-nao-encontrados>&ndash;&gt;-->
        <!--        </mat-tab>-->
        <mat-tab>
          <ng-template mat-tab-label>Resumo</ng-template>
          <resumo layout='column' flex
                  [entity]='centroCustoInventario'
                  *ngIf='centroCustoInventario?.centroCusto?.codigo'>
          </resumo>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>

</mat-card>
