@import '../../portal.component.scss';

.welcome-text {
    font-family: 'Open Sans';
    font-size: 35px;
    color: #ffffff;
}
.white {
    color: #ffffff;
}

.button-categoria {
    color: #4C4C4C !important; 
    margin-right:10px !important;
    margin-bottom: 10px !important;
}

.withOverflow {
    overflow-y: scroll;
}

.withoutOverlfow {
    overflow-y: none;
}

