<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select='[toolbar]'></ng-content>

  <mat-card>

    <mat-form-field flex style="display: block">
      <mat-label>Nome (clientId)</mat-label>
      <input maxlength='150' required
             formControlName='clientId'
             matInput placeholder='Nome'
             [(ngModel)]='entity.clientId'
             id='clientId' name='clientId'/>
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <!--    <mat-form-field flex style="display: block">-->
    <!--      <mat-label>E-mail</mat-label>-->
    <!--      <mat-autocomplete #auto='matAutocomplete' [displayWith]='displayFn'>-->
    <!--        <ng-container *ngIf='users?.length'>-->
    <!--          <mat-option *ngFor='let user of users' [value]='user.clientId' (click)='getEmail()'>-->
    <!--            <span>{{ user?.name }} ({{user?.clientId }})</span>-->
    <!--          </mat-option>-->
    <!--        </ng-container>-->
    <!--      </mat-autocomplete>-->
    <!--      <input [matAutocomplete]='auto' name='clientId' id='clientId'-->
    <!--             formControlName='clientId' maxlength='150' required-->
    <!--             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'-->
    <!--             (keyup)='getEmail()' [(ngModel)]='entity.clientId' matInput placeholder='E-mail'>-->

    <!--      <mat-error *ngIf="form.controls['clientId'].hasError('pattern')">-->
    <!--        E-mail inválido, utilize o formato "exemplo@clientId.com"-->
    <!--      </mat-error>-->
    <!--      <mat-error *ngIf="form.controls['clientId'].hasError('required')">-->
    <!--        Esse campo é obrigatório-->
    <!--      </mat-error>-->
    <!--    </mat-form-field>-->

    <vertical-space [verticalMargin]='5'></vertical-space>

    <root-form [(group)]='entity.group'
               flex [form]='form' *ngIf='!entity.root'>
    </root-form>
  </mat-card>
</form>
