<list-page 
    [subhead]="'Categoria'"
    [gender]="'M'" 
    [dataSource]="dataSource"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [totalElements]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [rolesToAdd]="['administrador', 'categorias', 'categorias/post']"
    [rolesToView]="['administrador', 'categorias', 'categorias/get']"
    [rolesToEdit]="['administrador', 'categorias', 'categorias/put']"
    [rolesToDelelte]="['administrador', 'categorias', 'categorias/delete']"
    (list)="listByFilters($event)"
    (delete)="openDeleteDialog($event)">
</list-page>