<!DOCTYPE html>
<html lang="pt-BR"
      layout:decorate="~{base.html}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>

<head>
  <script type="text/javascript" src="/resources/js/aplicacao.js"></script>
</head>

<div class="row" layout:fragment="content">
  <div class="col-md-12">
    <h3>Detalhar Usuário</h3>
  </div>
  <div class="col-md-12 mt-5" th:object="${aplicacao}">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
      <label for="inNome" class="col-sm-3 col-form-label">Nome:</label>
      <div class="col-sm-9">
        <input id="inNome" class="form-control" type="text" th:disabled='true' th:field="*{nome}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="inUsername" class="col-sm-3 col-form-label">Identificador (clientId):</label>
      <div class="col-sm-9">
        <input id="inUsername" class="form-control" type="text" th:disabled='true' th:field="*{identificador}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="inUsername" class="col-sm-3 col-form-label">Permissoes:</label>
      <div class="col-sm-9">
        <input id="inPermissoes" class="form-control" type="text" th:disabled='true' th:field="*{nomePermissoes}"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12 text-right">
        <a role="button" class="btn btn-primary mr-1" th:href="@{/seguro/aplicacoes}">Voltar</a>
        <button class="btn btn-outline-secondary mr-1"
                th:onclick="|mudarSenha('${aplicacao.id}')|">
          Trocar Senha
        </button>
        <a role="button"
           class="btn btn-success mr-1"
           th:href="@{'/seguro/aplicacoes/editar/' + ${aplicacao.id}}">
          Editar
        </a>
        <button class="btn btn-danger"
                th:onclick="|excluirAplicacao('${aplicacao.id}')|">
          Excluir
        </button>
      </div>
    </div>
  </div>

  <div id="novaSenhaDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Alteração de Senha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          Senha alterada para:
          <h4 id="inNovaSenha" class="text-black-50" th:text="${novaSenha}"></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
