<div *tdLoading="identifier; mode:'determinate'; type:'linear'; strategy:'replace'; color:'$greenColor'">

  <form [formGroup]='form' novalidate>
    <div *ngIf="form?.controls['nome' + documento?.tipoCadastroTipoDocumento?.id]"
         layout="row" flex layout-align='start center' style="padding-bottom: 20px">
      <mat-form-field flex>
        <input id='nome{{documento.tipoCadastroTipoDocumento.id}}'
               name='nome{{documento.tipoCadastroTipoDocumento.id}}' flex
               formControlName='nome{{documento.tipoCadastroTipoDocumento.id}}'
               placeholder='{{documento.tipoCadastroTipoDocumento.tipoDocumento.nome}}'
               [(ngModel)]='documento.nome' (keyup)='verifyNome()' matInput maxlength='150'/>
        <mat-hint align="start">Formatos de arquivos permitidos: .pdf, .jpg e .png.</mat-hint>
        <mat-error *ngIf="form?.controls['nome' + documento.tipoCadastroTipoDocumento.id]?.hasError('exception')">
          {{form?.controls['nome' + documento.tipoCadastroTipoDocumento.id]?.errors?.exception}}
        </mat-error>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <input type='file' accept='.pdf,.png,.jpg,.jpeg'
             (change)='onFileChange($event)' style='display: none'
             id='inputField{{documento.tipoCadastroTipoDocumento.id}}'
             name='inputField{{documento.tipoCadastroTipoDocumento.id}}'/>

      <button (click)='selectFile()'
              type='button' style='margin-top: -17px'
              mat-raised-button class='attach-button'>
        <mat-icon>attach_file</mat-icon>
        <span>{{documento?.id ? 'Alterar' : 'Anexar'}}</span>
      </button>

      <horizontal-space *ngIf='documento?.conteudo?.lastModified'></horizontal-space>

      <button style='margin-top: -17px' type='button'
              mat-raised-button class='attach-button'
              (click)='visualizarDocumento(documento)'
              *ngIf='documento?.conteudo?.lastModified'>
        <mat-icon>cloud_download</mat-icon>
        <span>Visualizar</span>
      </button>

      <div layout='row' *hasPermission="['administrador','fornecedores','fornecedores/put/approve']">
        <horizontal-space *ngIf='documento?.id'></horizontal-space>

        <button *ngIf='documento?.id' mat-raised-button style='margin-top: -17px' type='button'
                (click)='documento.aprovado === undefined ? documento.aprovado = true : documento.aprovado = !documento.aprovado'
                [ngClass]="{'approved-button': documento.aprovado === true, 'not-approved-button': (!documento.aprovado || documento.aprovado === undefined)}">
          <mat-icon>done_all</mat-icon>
        </button>

        <horizontal-space *ngIf='documento?.id'></horizontal-space>

        <button *ngIf='documento?.id' mat-raised-button style='margin-top: -17px' type='button'
                (click)='documento.aprovado === undefined ? documento.aprovado = false : documento.aprovado = !documento.aprovado'
                [ngClass]="{'refused-button': documento.aprovado === false, 'not-refused-button': (documento.aprovado || documento.aprovado === undefined)}">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
