<div layout='column' flex>
  <!-- Tittle content-->
  <ng-content select='[tittle]'></ng-content>

  <vertical-space></vertical-space>

  <!--Content-->
  <div layout='row'>
    <mat-form-field flex>
            <textarea [(ngModel)]='entity.feedback' maxlength='250'
                      [ngModelOptions]='{standalone: true}' matInput
                      placeholder='Explique os motivos da recusa do cadastro do fornecedor'>
            </textarea>
    </mat-form-field>
  </div>

  <!--Divider content-->
  <ng-content select='[divider]'></ng-content>

  <vertical-space></vertical-space>

</div>
