<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select="[toolbar]"></ng-content>

  <mat-card id="default-form">
    <div layout-gt-md='row' layout-md='column' layout-sm='column' layout-xs='column'>

      <mat-form-field flex>
        <input placeholder='Número do edital'
               matInput required maxlength='20'
               [(ngModel)]='entity.numeroEdital'
               formControlName='numeroEdital' flex
               id='numeroEdital' name='numeroEdital'/>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex>
        <input placeholder='Número do processo'
               matInput required maxlength='20'
               [(ngModel)]='entity.numeroProcesso'
               formControlName='numeroProcesso' flex
               id='numeroProcesso' name='numeroProcesso'/>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <ev-datepicker flex [(dataInput)]='entity.prazoPropostas'>
        <mat-form-field>
          <input flex [(ngModel)]='entity.prazoPropostas'
                 name='prazoPropostas' id='prazoPropostas'
                 formControlName='prazoPropostas' required
                 matInput placeholder='Prazo para propostas'
                 [textMask]="{mask: masks.date, guide: false}"/>
          <mat-error>
            Este campo é obrigatório
          </mat-error>
        </mat-form-field>
      </ev-datepicker>

      <horizontal-space *ngIf='entity?.id'></horizontal-space>

      <mat-form-field *ngIf='entity?.id' flex>
        <mat-select placeholder='Status' [(value)]='entity.status'>
          <mat-option [value]="status" *ngFor="let status of statuss">
            {{status | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <horizontal-space></horizontal-space>

      <ev-datepicker flex [(dataInput)]='entity.dataPublicacao'>
        <mat-form-field>
          <input flex [(ngModel)]='entity.dataPublicacao'
                 name='dataPublicacao' id='dataPublicacao'
                 formControlName='dataPublicacao' required
                 matInput placeholder='Data da publicação'
                 [textMask]="{mask: masks.date, guide: false}"/>
          <mat-error>
            Este campo é obrigatório
          </mat-error>
        </mat-form-field>
      </ev-datepicker>

    </div>

    <vertical-space></vertical-space>

    <div layout-gt-md='row' layout-md='column' layout-sm='column' layout-xs='column'>
      <mat-form-field flex [ngStyle]="{'margin-top': (entity?.categoriasAvisosEditais?.length ? '-17px' : '0')}">
        <mat-select [compareWith]='compareObjects' multiple
                    [(ngModel)]='entity.categoriasAvisosEditais'
                    formControlName='categorias' placeholder='Categorias'>
          <mat-select-trigger>

            <mat-chip-list>
              <mat-chip *ngFor="let chip of entity.categoriasAvisosEditais"> {{chip?.categoria?.nome}}</mat-chip>
            </mat-chip-list>

          </mat-select-trigger>
          <mat-option *ngFor='let categoriaAvisoEdital of toppingList'
                      [value]="{id : categoriaAvisoEdital.id, avisoEdital: {id : entity.id}, categoria : categoriaAvisoEdital.categoria}">
            {{categoriaAvisoEdital?.categoria?.nome}}
          </mat-option>
        </mat-select>
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div layout="row">
      <mat-form-field flex>
        <textarea [(ngModel)]='entity.objeto'
                  matInput placeholder='Objeto'
                  id='objeto' required name='objeto'
                  formControlName='objeto' maxlength='500'>
        </textarea>
        <mat-hint align='end'>
          {{entity?.objeto?.length}} / 500
        </mat-hint>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <vincular-anexos [form]='form' [(anexos)]='entity.anexos'
                     (remove)='removeAnexoPublicacao($event)'>
    </vincular-anexos>

  </mat-card>

</form>
