<form [formGroup]='form?.controls[index]'
      *ngIf='form?.controls[index]' novalidate>
  <div layout="row" flex layout-align='start center'>

    <mat-form-field flex>
      <input required maxlength='150'
             placeholder='Nome do anexo' flex
             formControlName='nome{{index}}' *ngIf='index'
             [(ngModel)]='anexo.nome' (keyup)='verifyNome()'
             matInput id='nome{{index}}' name='nome{{index}}'/>
      <mat-error>
        Insira um anexo
      </mat-error>
    </mat-form-field>

    <horizontal-space></horizontal-space>

    <!--<mat-form-field flex='60' (click)='selectFile()'>-->
    <!--<input [(ngModel)]='anexo.conteudo.name'-->
    <!--placeholder='Arquivo' *ngIf='index' flex-->
    <!--formControlName='file{{index}}' required-->
    <!--matInput id='file{{index}}' name='file{{index}}'/>-->
    <!--<mat-error>-->
    <!--Esse campo é obrigatório-->
    <!--</mat-error>-->
    <!--</mat-form-field>-->

    <!--<horizontal-space></horizontal-space>-->

    <input (change)='onFileChange($event)'
           type='file' accept='.pdf' style='display: none'
           id='inputField{{index}}' name='inputField{{index}}'/>

    <button (click)='selectFile()'
            type='button' style='margin-top: -17px'
            mat-raised-button class='attach-button'>
      <mat-icon>attach_file</mat-icon>
      <span>Anexar</span>
    </button>

    <horizontal-space></horizontal-space>

    <button style='margin-top: -17px'
            *ngIf='anexo?.conteudo?.lastModified'
            mat-raised-button class='attach-button'
            (click)='visualizarAnexo(anexo)' type='button'>
      <mat-icon>cloud_download</mat-icon>
      <span>Visualizar</span>
    </button>

  </div>
</form>
