<detail-page [entity]="grupoAcesso">

  <div class="toolbar" layout="row" flex toolbar>
    <div layout="column">
      <div class="headline" [innerHTML]="'Grupo de Acesso / Detalhes'"></div>
      <div class="subhead" [innerHTML]="'Grupo de Acesso'"></div>
    </div>
    <div layout="row" layout-align="end center" flex>
      <button mat-raised-button type="button"
              color="accent" routerLink="../">
        <mat-icon>arrow_back</mat-icon>
        <span>Voltar</span>
      </button>
      <horizontal-space></horizontal-space>
      <button mat-raised-button
              type="button" color='warn'
              (click)="openDeleteDialog(grupoAcesso)">
        <mat-icon>delete_forever</mat-icon>
        <span>Excluir</span>
      </button>
      <horizontal-space></horizontal-space>
      <a mat-raised-button type="button" color="primary" [routerLink]="'editar'">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </a>
    </div>
  </div>

</detail-page>