<div layout="column" layout-align="center center" id="login">
  <mat-card style='-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; width: 400px'>
    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="createPassword(form)">
        <div layout="column">
          <div layout="row" layout-align="center center">
<!--            <img [src]="'../../../assets/images/logo.png'" class="image-logo" alt="Logo">-->
          </div>
          <div layout="column" class="pad-top">
            <div layout="row">
              <mat-form-field flex [formGroup]="passForm">
                <input matInput type="password" placeholder="Nova senha" name="password"
                       [(ngModel)]="user.password" maxlength="100" formControlName="password" required/>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint *ngIf="password.errors && (password.dirty || password.touched)" class="msg-error">
                  Mín. de 8 caracteres com letras, números e caracteres especiais
                </mat-hint>
              </mat-form-field>
            </div>
            <div layout="row">
              <mat-form-field flex>
                <input matInput type="password" placeholder="Confirmar nova senha" name="confirmPassword"
                       [(ngModel)]="user.confirmPassword" maxlength="100" required/>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div layout="column" layout-align="end center" class="pad-top" flex>
            <button mat-raised-button type="submit" style="width:auto">
              Cadastrar senha
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div id="bottom"></div>
