<detail-page [entity]="livro">

  <div class="toolbar" layout="row" flex toolbar>
    <div layout="column">
      <div class="headline" [innerHTML]="'Livro / Detalhes'"></div>
      <div class="subhead" [innerHTML]="'Livro'"></div>
    </div>
    <div layout="row" layout-align="end center" flex>
      <button mat-raised-button type="button" color="accent" routerLink="../">
        <mat-icon>arrow_back</mat-icon>
        <span>Voltar</span>
      </button>
      <horizontal-space></horizontal-space>
      <a mat-raised-button type="button" color="primary" [routerLink]="'editar'">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </a>
    </div>
  </div>

  <div layout="row" details>
    <div layout="column" flex>
      <vertical-space></vertical-space>
      <label class="title">Editora</label>
      <label class="text">{{ livro?.editora?.nome }}</label>
    </div>
  </div>

</detail-page>
