<template-portal [overflow]="true">
  <!--LADO ESQUERDO DO TEMPLATE-->
  <div left-side layout="column" style="height: 100%; padding:10% 25%" layout-align="center start">

    <div class="welcome-text"><strong>Acesso ao sistema</strong></div>
    <div class="white">
      <p>O Portal de Compras da Fundação Parque Tecnológico Itaipu Brasil foi idealizado com o objetivo principal de
        proporcionar uma comunicação mais próxima com os fornecedores, resultando em processos de aquisição ainda mais
        transparentes, ágeis e eficientes.</p>

      <ul>
        <li>
          <p>Em caso de pessoa física, enviar email para <br><span class="bold-text">fornecedores@pti.org.br</span> com
            suas informações e os serviços ofertados.</p>
        </li>
        <li>
          <p>Dúvidas poderão ser esclarecidas através do telefone: <br><span class="bold-text">(45) 3576 7421</span></p>
        </li>
      </ul>

      <div layout="row" layout-align="start center" (click)="toSistema()" style="cursor: pointer; margin-top: 80px">
        <mat-icon style="font-size: 19px">arrow_forward</mat-icon>
        Acesso Administrativo
      </div>
    </div>

  </div>

  <div right-side layout="column" style="height: 100%; padding:0 25% 0 25%;" layout-align="center start">
    <h1 class="title-text">Portal de Compras</h1>
    <div style="padding-bottom: 30px">Para acessar o sistema, basta preencher os campos abaixo</div>
    <form style="width:100% !important" [formGroup]='form' novalidate (ngSubmit)='login()'>
      <div layout="row">
        <mat-form-field flex class="white-form-field">
          <input matInput placeholder="CNPJ" [(ngModel)]="fornecedor.usuario.documento"
                 formControlName="cnpj" [textMask]="{mask: mask, guide: false }" required>
          <mat-icon style="font-size: 19px!important; margin-right: 19px; margin-top: 19px!important" matSuffix>
            supervisor_account
          </mat-icon>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field flex class="white-form-field">
          <input matInput type="password" placeholder="Senha" required
                 [(ngModel)]="fornecedor.usuario.senha" formControlName="senha">
          <mat-icon style="font-size: 19px!important; margin-right: 19px; margin-top: 19px!important" matSuffix>lock
          </mat-icon>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-checkbox flex style="font-size: 13px; padding: 30px 0">Lembrar de mim</mat-checkbox>
        <a [routerLink]="['/recuperar-senha']" style="font-size: 13px; padding: 30px 0">Esqueceu sua senha?</a>
      </div>

      <div layout="row" style="padding-bottom: 100px">
        <button mat-flat-button color="primary"><strong>ACESSAR</strong></button>
        <button [routerLink]="['/cadastrar']"
                mat-flat-button class="turnback-button" style="margin-left:10px">
          <strong>CADASTRAR-SE</strong>
        </button>
      </div>

    </form>
  </div>
</template-portal>
