<div layout-margin>
  <h3 mat-dialog-title flex> Alterar senha </h3>
</div>

<form #f='ngForm' (ngSubmit)='alterarMinhaSenha($event)'>
  <mat-dialog-content>
    <div layout=column layout-margin class=dialog-container>
      <mat-form-field flex>
        <input placeholder='Nova senha' required
               matInput type='password' minlength='6'
               password name='newPassword' [(ngModel)]='newPassword'>
        <mat-hint class='mat-hint' *ngIf='newPassword?.length < 6'>
          Mínimo 6 caracteres
        </mat-hint>
      </mat-form-field>
      <mat-form-field flex>
        <input [(ngModel)]='newPasswordConfirm'
               required matInput type='password'
               password name='newPasswordConfirm'
               placeholder='Confirme a nova senha'>
        <mat-hint class='mat-hint-error' *ngIf='newPasswordConfirm && newPasswordConfirm != newPassword'>
          As senhas não conferem
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div layout='row' layout-align='end end' flex>
      <div flex></div>
      <button mat-dialog-close mat-button type='button'><b>CANCELAR</b></button>
      <button mat-button color='primary' type='submit'
              [disabled]='!f.valid || (newPasswordConfirm && newPasswordConfirm != newPassword)'>
        <b>ALTERAR</b>
      </button>
    </div>
  </mat-dialog-actions>
</form>
