.menu-active {
  //font-size: 16.2px !important;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-column-numeroProcesso {
  flex: 0 0 10% !important;
  min-width: 104px !important;
}

.mat-column-dataPublicacao {
  flex: 0 0 8% !important;
  min-width: 104px !important;
}

.mat-column-prazoPropostas {
  flex: 0 0 10% !important;
  min-width: 104px !important;
}

.mat-column-status {
  flex: 0 0 5% !important;
  min-width: 104px !important;
}

.mat-column-categoria {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-objeto {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap!important;
}