<form *ngIf='fornecedor?.id && form?.controls' (ngSubmit)='saveEntity(form)' [formGroup]='form'>

  <div *ngIf='fornecedor?.id && form?.controls' class="toolbar" layout="row" flex toolbar>
    <div layout="column">
      <div class="headline" [innerHTML]="'Fornecedores'"></div>
      <div class="subhead" [innerHTML]="'Listagem / Analisar'"></div>
    </div>

    <div layout="row" layout-align="end center" flex style='position: fixed; z-index: 1000; right: 62px'>
      <button mat-raised-button type="button" color="accent" routerLink="../">
        <mat-icon>arrow_back</mat-icon>
        <span>Voltar</span>
      </button>
      <horizontal-space></horizontal-space>

      <button mat-raised-button type="button" color="warn" (click)='recusar(fornecedor)'>
        <mat-icon>cancel</mat-icon>
        <span>Recusar</span>
      </button>

      <horizontal-space></horizontal-space>

      <button mat-raised-button color='primary' type='button' (click)='save(fornecedor)'>
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
      </button>
      <horizontal-space></horizontal-space>

      <button mat-raised-button style='background-color: #2DB45C!important; color: #FFFFFF!important'>
        <mat-icon>done_all</mat-icon>
        <span>Aprovar</span>
      </button>
    </div>
  </div>

  <!-- DADOS GERAIS -->
  <mat-card *ngIf='fornecedor?.id && form?.controls'>
    <dados-gerais-form [entity]='fornecedor' [(form)]='form.controls.dadosGeraisGroup'>

      <!--Title-->
      <div tittle><span style="color: #4C4C4C; font-size: 18px; font-weight: bold">Dados Gerais</span></div>

    </dados-gerais-form>
  </mat-card>

  <!-- CONTATOS -->
  <mat-card *ngIf='fornecedor?.id && form?.controls' style="margin-top: 20px !important">
    <contatos-form [entity]='fornecedor' [(form)]='form.controls.contatosFormGroup'>

      <div tittle><span style="color: #4C4C4C; font-size: 18px; font-weight: bold">Contatos</span></div>

    </contatos-form>
  </mat-card>

  <!-- DADOS BANCÁRIOS -->
  <mat-card *ngIf='fornecedor?.id && form?.controls' style="margin-top: 20px!important">
    <dados-bancarios-form [entity]='fornecedor' [(form)]='form.controls.dadosBancariosFormGroup'>

      <div tittle><span style="color: #4C4C4C; font-size: 18px; font-weight: bold">Dados Bancários</span></div>

    </dados-bancarios-form>
  </mat-card>

  <!-- DOCUMENTOS -->
  <mat-card *ngIf='fornecedor?.id && form?.controls' style="margin-top: 20px !important">
    <documentos-form [entity]='fornecedor' [(form)]='form.controls.documentosFormGroup'>

      <div tittle><span style="color: #4C4C4C; font-size: 18px; font-weight: bold">Documentos</span></div>

    </documentos-form>
  </mat-card>

  <!-- FEEDBACK -->
  <mat-card style="margin-top: 20px !important">
    <feedback-form [entity]='fornecedor'>

      <div layout='row' layout-align='start center' tittle>
        <span style='color: #4C4C4C; font-size: 18px; font-weight: bold'>Feedback</span>
        <horizontal-space [horizontalMargin]="3"></horizontal-space>
        <mat-icon style="font-size: 18px">info</mat-icon>
      </div>

    </feedback-form>
  </mat-card>

</form>
