<patrimonio-form [(entity)]='patrimonio' (save)='alterarLocalizacao(patrimonio.id, patrimonio.localizacao)'>
  <div class='toolbar' layout='row' flex toolbar>

    <div layout='row' layout-align='end center' flex>

      <button mat-raised-button type='button' color='warn' (click)='excluir(patrimonio.id)'>
        <span>Excluir</span>
      </button>

      <horizontal-space></horizontal-space>

      <button mat-raised-button type='button' [mat-dialog-close]='false'>
        <span>Cancelar</span>
      </button>

      <horizontal-space></horizontal-space>

      <button mat-raised-button color='primary'>
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
      </button>

    </div>

  </div>
</patrimonio-form>
