<form novalidate layout='row' [formGroup]='form.controls.group'>

  <mat-form-field flex>
    <mat-label>Grupo de Acesso</mat-label>
    <input matInput [(ngModel)]='group'
           formControlName='group' required
           placeholder='Grupo de Acesso' name='group'
           (ngModelChange)='groupChange.emit(this.group)'
           [matAutocomplete]='auto' (blur)='normalizeAccessGroup()' id="group"
           (keyup)="debounce(this,listAccessGroups); error = isString(group)">

    <mat-autocomplete [displayWith]='displayNameAccessGroup' #auto='matAutocomplete'>
      <mat-option [value]='group' *ngFor='let group of groups'>
        {{ group.name }}
      </mat-option>
    </mat-autocomplete>

    <mat-error>
      Nenhum grupo de acesso selecionado.
    </mat-error>
  </mat-form-field>

</form>
