<div class='toolbar' layout='row' layout-xs='column' flex (keyup.esc)='clearFilters()'>
  <div layout='column' flex>
    <div class='headline' [innerHTML]="'Compras e Licitações'"></div>
    <div class='subhead' [innerHTML]="'Avisos de editais'"></div>
  </div>
  <!--<span flex='70' hide-xs></span>-->
  <div layout='row' layout-align='end center' flex-sm='30'>
    <mat-form-field>
      <input matInput type='text' placeholder='Buscar' name='text'
             [(ngModel)]='pageable.defaultFilter'
             (ngModelChange)='debounce(this, listByFilters(true))'/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <horizontal-space></horizontal-space>
    <mat-form-field flex>
      <mat-select placeholder='Status' [(value)]='pageable.status'
                  (selectionChange)='debounce(this, listByFilters(true))'>
        <mat-option [value]=""></mat-option>
        <mat-option [value]="status" *ngFor="let status of statuss">
          {{status | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <horizontal-space></horizontal-space>
    <a mat-raised-button color='primary' [routerLink]="['adicionar']"
       *hasPermission="['administrador', 'avisos-editais', 'avisos-editais/post']; operation 'OR'">
      <mat-icon>add</mat-icon>
      <span hide-sm hide-xs>Adicionar</span>
    </a>
  </div>
</div>
<div id='default-table'>
  <mat-table matSortActive='nome'
             [dataSource]='dataSource'
             matSortDisableClear #table
             matSortDirection='asc' matSort>
    <ng-container matColumnDef='numeroProcesso'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        N° do processo
      </mat-header-cell>

      <mat-cell *matCellDef='let avisoEdital' routerLink='{{avisoEdital.id}}'>
        <a ellipsis>
          {{ avisoEdital.numeroProcesso }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='objeto'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Objeto
      </mat-header-cell>
      <mat-cell *matCellDef='let avisoEdital'>
        <a routerLink='{{avisoEdital?.id}}' style='height: 30px' ellipsis>
          {{ avisoEdital?.objeto }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='categoria'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Categorias
      </mat-header-cell>
      <mat-cell *matCellDef='let avisoEdital' routerLink='{{avisoEdital.id}}'>
        <mat-chip-list>
          <mat-chip *ngFor='let categoriaAvisoEdital of avisoEdital.categoriasAvisosEditais | slice:0:2; let i=index' style="height: 100%!important">
                <a style="white-space: normal!important; width: 100%!important;">
              {{categoriaAvisoEdital?.categoria?.nome.length > 30 ? categoriaAvisoEdital?.categoria?.nome.substring(0,30) + '...'
            : categoriaAvisoEdital?.categoria?.nome}}
                </a>
          </mat-chip>
          <mat-chip *ngIf="avisoEdital.categoriasAvisosEditais.length > 2">
            <a>
              +{{ avisoEdital.categoriasAvisosEditais.length - 2 }}
            </a>
          </mat-chip>

        </mat-chip-list>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='dataPublicacao'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Data da publicação
      </mat-header-cell>
      <mat-cell *matCellDef='let avisoEdital' routerLink='{{avisoEdital.id}}'>
        {{ avisoEdital.dataPublicacao }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='prazoPropostas'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Prazo para propostas
      </mat-header-cell>
      <mat-cell *matCellDef='let avisoEdital' routerLink='{{avisoEdital.id}}'>
        {{ avisoEdital.prazoPropostas }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='status'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Status
      </mat-header-cell>
      <mat-cell *matCellDef='let avisoEdital' routerLink='{{avisoEdital.id}}'>
        {{ avisoEdital.status | translate }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='acoes'>
      <mat-header-cell *matHeaderCellDef class='actions'>Ações</mat-header-cell>
      <mat-cell *matCellDef='let avisoEdital' class='actions'>
        <button mat-button type='button' (click)='openAnexoDialog(avisoEdital)'>
          <mat-icon>attach_file</mat-icon>
          Anexo
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let avisoEdital; columns: displayedColumns' style="height: 100%!important;"></mat-row>
  </mat-table>
  <no-records-found [dataSource]='dataSource?.data'></no-records-found>
  <mat-paginator
      [pageSizeOptions]='[5, 20, 50, 100]'
      [length]='totalElements'
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [hidePageSize]='false'
      (page)='listByFilters()'>
  </mat-paginator>
</div>
