<div class="container">
  <mat-card class="login-card default-shadow">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" [rowHeight]="height">
      <mat-grid-tile rowHeight="fit" fxHide fxShow.gt-sm cols="1">
        <div class="login-gradient-bg">
          <div class="login-info">
            <img src="../../../../assets/images/Pti_P_branco.png" class="img-fluid logo-login" alt="">
            <p>
              Utilize os navegadores homologados para acessar esta aplicação:
            </p>
            <p>
              <strong>
                • Chrome 66+ <br>
                • Firefox 61+
              </strong>
            </p>
            <p>
              A não utilização de um navegador homologado pode acarretar no não funcionamento correto da aplicação.
            </p>
            <p>
              A versão atual do seu navegador é: <br>
              <strong>{{browserVersion}}</strong>
            </p>
            <div class="button-align">
              <button mat-button class="btn-acesse">Acesse</button>
              <button mat-button class="btn-cadastre">Cadastre-se</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile fxShow rowHeight="fit" [colspan]="colspan">
        <div class="login-form">
          <h1 class="login-title">Portal do candidato</h1>
          <p class="login-subtitle">Cadastre seu currículo em nossa plataforma e candidate-se às nossas vagas!</p>
          <form>
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>supervisor_account</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <a class="link-login" href="">Esqueceu a senha?</a>
            <button mat-button class="btn-darkblue">Entrar</button>
          </form>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>