<list-page 
    [subhead]="'Editora'"
    [gender]="'M'" 
    [dataSource]="dataSource"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [totalElements]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [rolesToAdd]="['administrador', 'editoras', 'editoras/post']"
    [rolesToView]="['administrador', 'editoras', 'editoras/get']"
    [rolesToEdit]="['administrador', 'editoras', 'editoras/put']"
    [rolesToDelelte]="['administrador', 'editoras', 'editoras/delete']"
    (list)="listByFilters($event)"
    (delete)="openDeleteDialog($event)">
</list-page>
