@import '../../theme';

mat-cell {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

mat-header-cell {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

// Margem dos componentes tipo view
.main-content {
  padding: 47px;
  margin-top: 6px;
}


// FORMULARIO
mat-card {
  margin: 0 !important;
  padding: 30px !important;
  border-radius: 0 !important;
  border-top: 3px solid $primaryColor !important;

  .checkbox-group {
    font-size: 13px !important;
    margin: 0 10px !important;

    mat-checkbox {
      .mat-checkbox-inner-container {
        width: 18px !important;
        height: 18px !important;
      }
    }
  }

  .checkbox-group:first-child {
    margin-left: 0 !important;
  }

  .checkbox-group:last-child {
    margin-right: 0 !important;
  }

  mat-radio-group {
    font-size: 13px !important;
    margin: 5px 0 !important;

    mat-radio-button {
      margin: 0 10px !important;
    }

    mat-radio-button:first-child {
      margin-left: 0 !important;
    }

    mat-radio-button:last-child {
      margin-right: 0 !important;
    }
  }
}

mat-horizontal-stepper {
  border-top: 3px solid $greenColor;

  .mat-horizontal-stepper-header-container {
    background-color: #F7F7F7 !important;
  }

  .mat-step-optional.ng-star-inserted {
    padding-top: 6px;
  }

  .mat-step-icon {
    height: 40px;
    width: 40px;
  }
}

dados-gerais-form {
  mat-chip {
    max-width: 167px
  }
}

dados-gerais-form, contatos-form, dados-bancarios-form {

  mat-form-field {
    margin-top: 15px;
  }

}

documentos-form {
  .td-loading-wrapper {
    min-height: 0 !important;
    height: 40px !important;

    .ng-trigger-tdFadeInOut {
      min-height: 0 !important;
      height: 40px !important;
    }
  }
}

//.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
  //margin: 1px !important;
  //margin-top: 4px !important;
  //margin-bottom: 4px !important;
//}
