<form novalidate layout='row' [formGroup]='form.controls.accessGroup'>

  <mat-form-field flex>
    <mat-label>Grupo de Acesso</mat-label>
    <input matInput [(ngModel)]='accessGroup'
           formControlName='accessGroup' required
           placeholder='Grupo de Acesso' name='accessGroup'
           (ngModelChange)='accessGroupChange.emit(this.accessGroup)'
           [matAutocomplete]='auto' (blur)='normalizeAccessGroup()' id="accessGroup"
           (keyup)="debounce(this,listAccessGroups); error = isString(accessGroup)">

    <mat-autocomplete [displayWith]='displayNameAccessGroup' #auto='matAutocomplete'>
      <mat-option [value]='accessGroup' *ngFor='let accessGroup of accessGroups'>
        {{ accessGroup.name }}
      </mat-option>
    </mat-autocomplete>

    <mat-error>
      Nenhum grupo de acesso selecionado.
    </mat-error>
  </mat-form-field>

</form>
