<div class="toolbar" layout="row" flex (keyup.esc)="clearFilters()">
  <div layout="column" flex>
    <div class="headline" [innerHTML]="'Fornecedores'"></div>
    <div class="subhead" [innerHTML]="'Listagem'"></div>
  </div>
  <div layout="row" layout-align="end center" flex>
    <mat-form-field>
      <input [(ngModel)]='pageable.defaultFilter'
             matInput type='text' name='text' placeholder='Buscar'
             (ngModelChange)='debounce(this, listByFiltersStatement)'/>
      <mat-icon matSuffix (click)="listByFilters(true)">search</mat-icon>
    </mat-form-field>
    <horizontal-space *ngIf='!pageable?.vencidoFilter'></horizontal-space>

    <mat-form-field *ngIf='!pageable?.vencidoFilter'>
      <mat-select placeholder='Status' [(value)]='pageable.status' (selectionChange)='listByFilters(true)'>
        <mat-option [value]="null"></mat-option>
        <mat-option [value]="'EM_CRIACAO'">EM CRIAÇÃO</mat-option>
        <mat-option [value]="'EM_ANALISE'">EM ANÁLISE</mat-option>
        <mat-option [value]="'APROVADO'">APROVADO</mat-option>
        <mat-option [value]="'RECUSADO'">RECUSADO</mat-option>
      </mat-select>
    </mat-form-field>
    <horizontal-space></horizontal-space>
    <mat-checkbox [(ngModel)]='pageable.vencidoFilter' [ngModelOptions]='{standalone: true}'
                  style='margin-top: 5px' (ngModelChange)='debounce(this, listByFiltersStatement)'>
      Vencidos
    </mat-checkbox>
    <horizontal-space></horizontal-space>
    <button mat-stroked-button (click)="showAdvancedFilters()">
      <mat-icon>filter_list</mat-icon>
      Filtros Avançados
    </button>

    <horizontal-space></horizontal-space>
    <a mat-raised-button (click)='openEnviarEmailEmMassaDialog()'
       style='background-color: #F6B800!important; color: #ffffff!important'>
      <mat-icon>send</mat-icon>
      <span hide-sm hide-xs>Email</span>
    </a>

    <horizontal-space></horizontal-space>
    <a mat-raised-button color='primary' [routerLink]="['adicionar']">
      <mat-icon>add</mat-icon>
      <span hide-sm hide-xs>Adicionar</span>
    </a>
  </div>
</div>


<mat-card *ngIf='filtrosAvancados === true'
          style='border-top: 3px solid #00acc1!important; margin: 0 0 20px 0!important'>
  <div layout='row'>

    <div layout='row' layout-md='row' layout-sm='column' layout-xs='column' flex>
      <mat-form-field flex [ngStyle]="{'margin-top': (pageable?.atividadesEconomicasFilter?.length ? '-17px' : '0')}">

        <mat-chip-list #atividadesEconomicasChipList aria-label='Atividades Econômicas'>
          <mat-chip *ngFor='let atividadeEconomica of pageable.atividadesEconomicasFilter'
                    style='max-width: 100%' (removed)='removeAtividadeEconomica(atividadeEconomica)'>
            {{ atividadeEconomica?.code }} - {{ atividadeEconomica?.text }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input id='atividadesEconomicasInput' name='atividadesEconomicasInput'
                 (keyup)='atividadesEconomicasChanged(atividadeEconomicaFiltro)'
                 #atividadesEconomicasInput [matChipInputFor]='atividadesEconomicasChipList'
                 [(ngModel)]='atividadeEconomicaFiltro' [ngModelOptions]='{standalone: true}'
                 placeholder='Atividades Econômicas' [matAutocomplete]='autoAtividadeEconomica'>
        </mat-chip-list>

        <mat-autocomplete #autoAtividadeEconomica='matAutocomplete'
                          (optionSelected)='addAtividadeEconomicaFiltro($event)'>
          <mat-option [value]='atividadeEconomica' *ngFor='let atividadeEconomica of atividadesEconomicas'>
            {{ atividadeEconomica.code }} - {{ atividadeEconomica.text }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex flex-md='20'>
        <mat-select [compareWith]='compareCategorias'
                    placeholder='Categorias' multiple
                    [(ngModel)]='pageable.categoriasFilter'
                    (selectionChange)='categoriasSelectionChanged()'>
          <mat-select-trigger>

            {{pageable?.categoriasFilter?.length === 1 ? pageable?.categoriasFilter[0]?.nome : (pageable?.categoriasFilter?.length > 1 ? (pageable?.categoriasFilter[0]?.nome + ',' + pageable?.categoriasFilter[1]?.nome) : '')}}
            <span *ngIf='pageable?.categoriasFilter?.length > 2'>
              (+{{pageable?.categoriasFilter?.length - 2}} {{pageable?.categoriasFilter?.length === 3 ? 'outro' : 'outros'}}
              )
            </span>

          </mat-select-trigger>
          <mat-option [value]='categoria' *ngFor='let categoria of categorias'>
            {{categoria?.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex [ngStyle]="{'margin-top': (pageable?.estadosFilter?.length ? '-17px' : '0')}">

        <mat-chip-list #estadosChipList aria-label='Estados'>
          <mat-chip *ngFor='let estado of pageable.estadosFilter'
                    style='max-width: 100%' (removed)='removeEstado(estado)'>
            {{ estado?.nome}} - {{ estado?.uf }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input [matChipInputFor]='estadosChipList'
                 (keyup)='estadosChanged(estadoFiltro)'
                 [matAutocomplete]='autoEstado' #estadosInput
                 id='estadosInput' name='estadosInput' placeholder='Estados'
                 [(ngModel)]='estadoFiltro' [ngModelOptions]='{standalone: true}'>
        </mat-chip-list>

        <mat-autocomplete #autoEstado='matAutocomplete' (optionSelected)='addEstadoFiltro($event)'>
          <mat-option [value]='estado' *ngFor='let estado of estados'>
            {{ estado.nome }} - {{ estado.uf }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex [ngStyle]="{'margin-top': (pageable?.cidadesFilter?.length ? '-17px' : '0')}">

        <mat-chip-list #cidadesChipList aria-label='Cidades'>
          <mat-chip *ngFor='let cidade of pageable.cidadesFilter'
                    style='max-width: 100%' (removed)='removeCidade(cidade)'>
            {{ cidade?.nome}} - {{ cidade?.estado?.uf }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input [matChipInputFor]='cidadesChipList'
                 (keyup)='cidadesChanged(cidadeFiltro)'
                 [matAutocomplete]='autoCidade' #cidadesInput
                 id='cidadesInput' name='cidadesInput' placeholder='Cidades'
                 [(ngModel)]='cidadeFiltro' [ngModelOptions]='{standalone: true}'>
        </mat-chip-list>

        <mat-autocomplete #autoCidade='matAutocomplete'
                          (optionSelected)='addCidadeFiltro($event)'>
          <mat-option [value]='cidade' *ngFor='let cidade of cidades'>
            {{ cidade.nome }} - {{ cidade?.estado?.uf }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <!--      <mat-form-field flex>-->
      <!--        <mat-select placeholder='Cidade' [(value)]='pageable.status'>-->
      <!--          <mat-option [value]=""></mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
    </div>
    <div flex='5' hide-md></div>
    <button hide-md flex='15'
            (click)='clearFilters()'
            style='color:#DE411A' mat-button>
      Limpar todos os filtros
    </button>
    <button hide-gt-md flex='10'
            (click)='clearFilters()'
            style='color:#DE411A' mat-button>
      Limpar filtros
    </button>
  </div>
</mat-card>

<div id='default-table'>
  <mat-table matSortActive='nome' [dataSource]='dataSource' matSortDisableClear #table matSortDirection='asc' matSort>
    <ng-container matColumnDef='usuario.documento'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Documento
      </mat-header-cell>

      <mat-cell *matCellDef='let fornecedor' routerLink='{{fornecedor.id}}'>
        <a ellipsis>
          {{ fornecedor?.usuario?.documento | documento}}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='razaoSocial'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Razão Social
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>
        <a routerLink='{{fornecedor?.id}}' style='height: 30px' ellipsis>
          {{ fornecedor?.razaoSocial }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='usuario.nome'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Nome Fantasia
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>
        <a routerLink='{{fornecedor?.id}}' style='height: 30px' ellipsis>
          {{ fornecedor?.usuario?.nome }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='created'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Data de Registro
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>
        <a routerLink='{{fornecedor?.id}}' style='height: 30px' ellipsis>
          {{ fornecedor?.created | date: 'dd/MM/yyyy'}}
        </a>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef='status'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Status
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>

        <mat-chip-list style='width: 35%' [ngSwitch]='fornecedor?.status'>
          <mat-chip *ngSwitchCase="'EM_CRIACAO'" style="background-color: #4C4C4C !important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Em Criação
            </a>
          </mat-chip>

          <mat-chip *ngSwitchCase="'EM_ANALISE'" style="background-color: #F6B800!important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Em Análise
            </a>
          </mat-chip>
          <mat-chip *ngSwitchCase="'RECUSADO'" style="background-color: #E44451!important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Recusado
            </a>
          </mat-chip>


          <div *ngSwitchCase="'APROVADO'">
            <mat-chip *ngIf='fornecedor.vencido'
                      style='background-color: #4C4C4C!important; opacity: 0.5!important; width: 100%'>
              <a style='color: #FFFFFF!important; justify-content: center'>
                Vencido
              </a>
            </mat-chip>
            <mat-chip *ngIf='!fornecedor.vencido' style='background-color: #2DB45C!important; width: 100%'>
              <a style='color: #FFFFFF !important; justify-content: center'>
                Aprovado
              </a>
            </mat-chip>
          </div>

        </mat-chip-list>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='acoes'>
      <mat-header-cell *matHeaderCellDef class='actions' style='max-width: 10%!important'>Ações</mat-header-cell>
      <mat-cell *matCellDef='let fornecedor' class='actions' style='max-width: 10%!important'>
        <button mat-button routerLink='{{fornecedor?.id}}' *ngIf="fornecedor.status === 'EM_CRIACAO' || fornecedor.status === 'RECUSADO'" type='button'>
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button mat-button routerLink='{{fornecedor?.id}}' *ngIf="fornecedor.status === 'EM_ANALISE'" type='button'>
          <mat-icon>visibility</mat-icon>
          Analisar
        </button>
        <a type='button' style='color:#00ABAF!important' target='_blank'
           href='api/fornecedores/{{fornecedor.id}}/crc'
           mat-button *ngIf="fornecedor.status == 'APROVADO'">
          <span style='color:#00ABAF!important'>
            <mat-icon>cloud_download</mat-icon>
            Baixar CRC
          </span>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let avisoEdital; columns: displayedColumns' style="height: 100%!important;"></mat-row>
  </mat-table>
  <no-records-found [dataSource]='dataSource?.data'></no-records-found>
  <mat-paginator [pageSizeOptions]='[5, 20, 50, 100]' [length]='totalElements' [pageIndex]="pageIndex"
                 [pageSize]="pageSize" [hidePageSize]='false' (page)='listByFilters()'>
  </mat-paginator>
</div>
