<div layout='row' layout-align='center center'
     style='background: #00ABAF; width: 100%; height: 34px; position: fixed; z-index: 1'>

  <a layout-margin
     routerLinkActive
     routerLink='avisos-contratacoes'
     #rlaAvisosContratacoes="routerLinkActive"
     [ngClass]="{'menu-active': rlaAvisosContratacoes.isActive}"
     *hasPermission="['administrador', 'avisos-contratacoes', 'avisos-contratacoes/get']; operation 'OR'">
    Avisos de Contratações
  </a>

  <a layout-margin
     routerLinkActive
     routerLink='avisos-editais'
     #rlaAvisosEditais="routerLinkActive"
     [ngClass]="{'menu-active': rlaAvisosEditais.isActive}"
     *hasPermission="['administrador', 'avisos-editais', 'avisos-editais/get']; operation 'OR'">
    Avisos de Editais
  </a>

  <a layout-margin
     routerLinkActive
     routerLink='extratos-contratos'
     #rlaExtratosContratos="routerLinkActive"
     [ngClass]="{'menu-active': rlaExtratosContratos.isActive}"
     *hasPermission="['administrador', 'extratos-contratos', 'extratos-contratos/get']; operation 'OR'">
    Extratos de Contratos e Atas de Registro de Preços
  </a>

</div>

<div class='main-content margin-top'>
  <router-outlet></router-outlet>
</div>
