./target
./target/**
./.idea
./.idea/**
./.settings
./.settings/**
./.apt_generated
./.apt_generated/**
./.classpath
./.springBeans

target
/target
/target/**
/.idea
/.idea/**
/.settings
/.vscode
/.apt_generated
/.apt_generated/**
/.classpath
/.springBeans
/bin/
\.factorypath
\.project
src/main/ts/\.history/

src/main/ts/ngrok

src/main/ts/package-lock.json
src/main/ts/yarn.lock
portal-candidatos.iml

node_modules

src/main/resources/META-INF/resources/modules/
/nbactions*
/nb-configuration.xml

*.iml