<form class='main-content' (ngSubmit)='saveEntity(form)' [formGroup]='form'>

  <mat-card *ngIf="stepper.selectedIndex === 3 && visibleInfo === true"
            style="border-top: none !important; margin-bottom: 30px !important">

    <button mat-mini-fab (click)="hideInfo()" type='button'
            style="position: absolute; left: 99%; border-radius: 50%!important;top: -12px!important;color:#00ABAF !important; background-color: #FFFFFF!important">
      <mat-icon>clear</mat-icon>
    </button>

    <div layout="row">
      <div class="info-tittle"
           style="font-size: 18px !important; font-weight: bold!important; color:#00ABAF !important; padding-bottom: 20px">
        Aviso Importante
      </div>
    </div>

    <div layout="row">
      <div>
        Para seu cadastro ficar completo no banco de dados da FPTI existem alguns documentos que precisam ser anexados.
        <strong>Caso a documentação obrigatória não seja anexada o seu cadastro não será aprovado!</strong>
      </div>
    </div>

  </mat-card>

  <div class='toolbar' layout='row' flex>
    <div layout='row' layout-align='end center' flex>
      <button mat-raised-button type='button' (click)='save(fornecedor)' color='accent'>
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
      </button>
      <horizontal-space></horizontal-space>
      <button mat-raised-button style='background-color: #F6B800!important; color: #ffffff!important'>
        <mat-icon>send</mat-icon>
        <span>Concluir e submeter à análise</span>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper #stepper [class.mat-elevation-z2]='true' (selectionChange)="changeStep()">

    <ng-template matStepperIcon='edit'>
      <mat-icon>done</mat-icon>
    </ng-template>

    <ng-template matStepperIcon='done'>
      <mat-icon>done_all</mat-icon>
    </ng-template>


    <mat-step *ngIf='fornecedor?.id' [stepControl]='form?.controls?.dadosGeraisGroup'>
      <dados-gerais-form [entity]='fornecedor' [(form)]='form.controls.dadosGeraisGroup'>

        <!--Title-->
        <ng-template title matStepLabel>
          Passo 1
          <div class='mat-step-optional ng-star-inserted'>Dados gerais</div>
        </ng-template>

        <!--Divider-->
        <div divider>
          <vertical-space></vertical-space>
          <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
        </div>

        <!--Actions-->
        <div flex actions layout-gt-xs='row'>

          <span flex='95'></span>

          <button color='primary' type='button' matStepperNext mat-raised-button>
            Avançar
            <mat-icon>arrow_forward</mat-icon>
          </button>

        </div>

      </dados-gerais-form>
    </mat-step>

    <mat-step *ngIf='fornecedor?.id' [stepControl]='form?.controls?.contatosFormGroup'>
      <contatos-form [entity]='fornecedor' [(form)]='form.controls.contatosFormGroup'>

        <!--Title-->
        <ng-template title matStepLabel>Passo 2
          <div class='mat-step-optional ng-star-inserted'>Contatos</div>
        </ng-template>

        <!--Divider-->
        <div divider>
          <vertical-space></vertical-space>
          <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
        </div>

        <!--Actions-->
        <div flex actions layout-gt-xs='row'>

          <span flex='95'></span>

          <button mat-button type='button' matStepperPrevious>Voltar</button>
          <horizontal-space></horizontal-space>
          <button mat-raised-button type='button' color='primary' matStepperNext>
            Avançar
            <mat-icon>arrow_forward</mat-icon>
          </button>

        </div>

      </contatos-form>
    </mat-step>

    <mat-step *ngIf='fornecedor?.id' [stepControl]='form?.controls?.dadosBancariosFormGroup'>
      <dados-bancarios-form [entity]='fornecedor' [(form)]='form.controls.dadosBancariosFormGroup'>

        <ng-template title matStepLabel>Passo 3
          <div class='mat-step-optional ng-star-inserted'>Dados bancários</div>
        </ng-template>

        <!--Divider-->
        <div divider>
          <vertical-space></vertical-space>
          <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
        </div>

        <!--Actions-->
        <div flex actions layout-gt-xs='row'>

          <span flex='95'></span>

          <button mat-button type='button' matStepperPrevious>Voltar</button>
          <horizontal-space></horizontal-space>
          <button mat-raised-button color='primary' type='button' matStepperNext>
            Avançar
            <mat-icon>arrow_forward</mat-icon>
          </button>

        </div>

      </dados-bancarios-form>
    </mat-step>

    <mat-step *ngIf='fornecedor?.id' [stepControl]='form.controls.documentosFormGroup'>
      <documentos-form [entity]='fornecedor' [(form)]='form.controls.documentosFormGroup'>

        <ng-template title matStepLabel>Passo 4
          <div class='mat-step-optional ng-star-inserted'>Documentos</div>
        </ng-template>

        <!--Divider-->
        <div divider>
          <vertical-space></vertical-space>
          <mat-divider style='margin-left: -25px; margin-right: -25px'></mat-divider>
        </div>

        <!--Actions-->
        <div flex actions layout-gt-xs='row'>

          <span flex='95'></span>

          <button mat-button type='button' matStepperPrevious>Voltar</button>
          <horizontal-space></horizontal-space>
          <button mat-raised-button (click)='save(fornecedor)' color='primary' matStepperNext>
            <mat-icon>save</mat-icon>
            Salvar
          </button>

        </div>

      </documentos-form>
    </mat-step>

  </mat-horizontal-stepper>
</form>
