<list-page [subhead]="'Aviso de Contratação'"
           [gender]="'M'"
           [dataSource]='dataSource'
           [anexavel]='true'
           [editavel]='false'
           [desativavel]='false'
           [columns]='columns'
           [displayedColumns]='displayedColumns'
           [totalElements]='totalElements'
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           [rolesToAdd]="['administrador', 'avisos-contratacoes', 'avisos-contratacoes/post']"
           [rolesToView]="['administrador', 'avisos-contratacoes', 'avisos-contratacoes/get']"
           [rolesToEdit]="['administrador', 'avisos-contratacoes', 'avisos-contratacoes/put']"
           [rolesToDelelte]="['administrador', 'avisos-contratacoes', 'avisos-contratacoes/delete']"
           (list)='listByFilters($event)'
           (anexo)='openAnexoDialog($event)'>
</list-page>
