<div [formGroup]='form.controls.pessoaJuridica'>
  <div layout='row' layout-sm='column' layout-xs='column'>
    <div layout='row' layout-sm='column' layout-xs='column' flex='50' flex-sm='100' flex-xs='100'>
      <ng-content select='[tipo-pessoa]'></ng-content>

      <horizontal-space></horizontal-space>

      <mat-form-field flex='50' flex-sm='100' flex-xs='100'>
        <input matInput name='cnpj' id='cnpj'
               placeholder='CNPJ' required maxLength='18'
               [(ngModel)]='fornecedor.usuario.documento'
               formControlName='cnpj' (change)='findCnpj()'
               [textMask]='{mask: masks.cnpj, guide: false}'>
        <mat-error *ngIf="form?.controls?.pessoaJuridica?.controls['cnpj']?.hasError('exception')">
          {{form?.controls?.pessoaJuridica?.controls['cnpj']?.errors?.exception}}
        </mat-error>
      </mat-form-field>
    </div>
    <horizontal-space></horizontal-space>

    <mat-form-field flex flex-sm='100'>
      <input placeholder='Razão Social' matInput
             [(ngModel)]='fornecedor.razaoSocial'
             formControlName='razaoSocial' required
             maxLength='150' id='razaoSocial' name='razaoSocial'/>
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <horizontal-space></horizontal-space>

    <ng-content select='[nome]'></ng-content>
  </div>

  <div layout='row' layout-md='column' layout-sm='column' layout-xs='column'>

    <div layout='row' layout-md='row' layout-sm='column' layout-xs='column'
         flex='50' flex-md='100' flex-sm='100' flex-xs='100'>

      <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'>
        <mat-select placeholder='Tipo de Pessoa Jurídica' [(value)]='fornecedor.tipoPessoaJuridica'>
          <mat-option [value]='tipoPessoaJuridica' *ngFor='let tipoPessoaJuridica of tiposPessoasJuridicas'>
            {{tipoPessoaJuridica | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <ng-content select='[atividades-economicas]'></ng-content>

    </div>

    <div layout='row' layout-md='row' layout-sm='column' layout-xs='column'
         flex='50' flex-md='100' flex-sm='100' flex-xs='100'>

      <horizontal-space hide-md hide-sm hide-xs></horizontal-space>

      <mat-form-field flex>
        <input maxLength='20' required
               placeholder='Inscrição Municipal'
               [(ngModel)]='fornecedor.inscricaoMunicipal'
               matInput formControlName='inscricaoMunicipal'
               id='inscricaoMunicipal' name='inscricaoMunicipal'/>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex style='min-width: 100px'>
        <mat-select placeholder='Isento de Inscrição Estadual?'
                    (selectionChange)='changeIsencaoInscricaoEstadual()'
                    [(value)]='fornecedor.insencaoInscricaoEstadual'>
          <mat-option [value]='true'>Sim</mat-option>
          <mat-option [value]='false'>Não</mat-option>
        </mat-select>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex>
        <input formControlName='inscricaoEstadual' maxLength='20'
               required placeholder='Inscrição Estadual'
               [(ngModel)]='fornecedor.inscricaoEstadual'
               matInput id='inscricaoEstadual' name='inscricaoEstadual'/>
        <mat-error>
          Esse campo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <div layout='row' layout-md='column' layout-sm='column' layout-xs='column'>

    <div layout='row' layout-md='row'
         layout-sm='column' layout-xs='column'
         flex='50' flex-md='100' flex-sm='100' flex-xs='100'>

      <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'>
        <mat-select placeholder='Cooperativa'
                    [(value)]='fornecedor.cooperativa'>
          <mat-option [value]='true'>
            Sim
          </mat-option>
          <mat-option [value]='false'>
            Não
          </mat-option>
        </mat-select>
      </mat-form-field>

      <horizontal-space></horizontal-space>

      <mat-form-field flex='50' flex-md='50' flex-sm='100' flex-xs='100'>
        <mat-select placeholder='Simples Nacional'
                    [(value)]='fornecedor.simplesNacional'>
          <mat-option [value]='true'>
            Sim
          </mat-option>
          <mat-option [value]='false'>
            Não
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div layout='row' layout-md='row' layout-sm='column' layout-xs='column'
         flex='50' flex-md='100' flex-sm='100' flex-xs='100'>

      <horizontal-space hide-md hide-sm hide-xs></horizontal-space>

      <ng-content select='[categorias-enquadradas]'></ng-content>

    </div>

  </div>

  <ng-content select='[descricao-e-atividades]'></ng-content>

</div>
