<div class='toolbar' layout='row' flex>
  <div layout='column'>
    <div class='headline' [innerHTML]='homeView.toolbar.headline'></div>
    <div class='subhead' [innerHTML]='homeView.toolbar.subhead'></div>
  </div>
  <div layout='row' layout-align='end center' flex>
    <button mat-raised-button type='button' color='accent' routerLink='../'>
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
    <div *hasPermission="['root', 'applications/put/activate']; operation 'OR'">
      <button mat-raised-button type='button' *ngIf='!itsMe'
              (click)='updateEnabled(application?.id)' class='ml-25'
              [ngClass]="{'activate': !application?.enabled, 'inactivate': application?.enabled}">
        <mat-icon>{{ !application?.enabled ? 'check' : 'block' }}</mat-icon>
        <span>{{ !application?.enabled ? 'Ativar' : 'Inativar' }}</span>
      </button>
    </div>
    <a color='primary' routerLink='edit'
       class='ml-25' mat-raised-button type='button'
       *hasPermission="['root', 'applications/put']; operation 'OR'">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </a>
  </div>
</div>
<mat-card id='default-form'>
  <div layout='row' layout-sm='column' layout-xs='column'>
    <div layout='column' flex>
      <label class='title'>Nome de Aplicativo:</label>
      <label class='text' *ngIf='application?.clientId'>{{ application?.clientId }}</label>
      <label class='text' *ngIf='!application?.clientId'>-</label>
    </div>
    <horizontal-space></horizontal-space>
    <div layout='column' flex>
      <label class='title'>Ativo:</label>
      <label class='text'>{{ application?.enabled ? 'Sim' : 'Não' }}</label>
    </div>

  </div>
  <vertical-space></vertical-space>
  <div layout='column' *ngIf='application?.group?.id'>
    <label class='title'>Grupo de Acesso:</label>
    <label class='text'>{{ application?.group?.name }}</label>
  </div>
</mat-card>
