<mat-toolbar
    style='position: sticky; position: -webkit-sticky; top: 0; z-index: 1000; background-color:#FFFFFF!important'>
  <mat-toolbar-row>
    <div flex="10"></div>
    <div style="margin-right:18px">
      <img routerLink="" style='cursor: pointer'
           class="image-logo-preto" alt="Logo PTI"
           [src]="'../../../assets/images/logo_pti_sem_descritivo_preta.png'">
    </div>

    <div layout="row" layout-align="end center" flex>
      <button mat-button style="margin-right: 18px; color:#707070"><strong>COMO FUNCIONA</strong></button>
      <button mat-button style="margin-right: 18px; color: #707070" routerLinkActive
              [routerLink]="'/login'"><strong>ACESSO</strong></button>
      <button mat-raised-button color="primary" routerLinkActive [routerLink]="'/cadastrar'">
        <strong>CADASTRO</strong>
      </button>
    </div>
    <div flex="10"></div>
  </mat-toolbar-row>
</mat-toolbar>


<!-- ROTEAMENTO DE COMPONENTES DA APLICAÇÃO -->
<router-outlet></router-outlet>
