<list-page [gender]="'M'"
           [deletavel]='false'
           [columns]="columns"
           [dataSource]="dataSource"
           [headline]="'Acesso'"
           [subhead]="'Aplicativos'"
           (list)='listByFilters($event)'
           [totalElements]="totalElements"
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           [rolesToAdd]="['root', 'applications', 'applications/post']"
           [rolesToView]="['root', 'applications', 'applications/get']"
           [rolesToEdit]="['root', 'applications', 'applications/put']"
           [rolesToDelete]="['root', 'applications', 'applications/delete']"
           (delete)="openDeleteDialog($event)"
           [displayedColumns]="displayedColumns">
</list-page>
