<div class="toolbar" layout="row" flex (keyup.esc)="clearFilters()">
  <div layout="column" flex>
    <div class="headline" [innerHTML]="'Fornecedores'"></div>
    <div class="subhead" [innerHTML]="'Listagem'"></div>
  </div>
  <div layout="row" layout-align="end center" flex>
    <mat-form-field>
      <input matInput type='text' placeholder='Buscar'
             name='text' [(ngModel)]='pageable.defaultFilter'/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <horizontal-space></horizontal-space>

    <mat-form-field>
      <mat-select placeholder='Status' [(value)]='pageable.status'>
        <mat-option [value]=""></mat-option>
        <!-- <mat-option [value]="CRIACAO">EM CRIAÇÃO</mat-option>
        <mat-option [value]="ANALISE">EM ANÁLISE</mat-option>
        <mat-option [value]="APROVADO">APROVADO</mat-option>
        <mat-option [value]="RECUSADO">RECUSADO</mat-option> -->

      </mat-select>
    </mat-form-field>
    <horizontal-space></horizontal-space>
    <button mat-stroked-button (click)="showAdvancedFilters()">
      <mat-icon>filter_list</mat-icon>
      Filtros Avançados
    </button>

    <horizontal-space></horizontal-space>
    <a mat-raised-button [routerLink]="['adicionar']"
       style="background-color: #F6B800!important; color: #ffffff!important">
      <mat-icon>send</mat-icon>
      <span hide-sm hide-xs>Email</span>
    </a>

    <horizontal-space></horizontal-space>
    <a mat-raised-button color='primary' [routerLink]="['adicionar']">
      <mat-icon>add</mat-icon>
      <span hide-sm hide-xs>Adicionar</span>
    </a>
  </div>
</div>


<mat-card *ngIf="filtrosAvancados == true"
          style="border-top: 3px solid #00acc1!important; margin: 0 0  20px 0!important">
  <div layout="row">

    <horizontal-space></horizontal-space>

    <mat-form-field>
      <mat-select placeholder='Atividade Econômica' [(value)]='pageable.status'>
        <mat-option [value]=""></mat-option>
      </mat-select>
    </mat-form-field>

    <horizontal-space></horizontal-space>

    <mat-form-field>
      <mat-select placeholder='Categorias' [(value)]='pageable.status'>
        <mat-option [value]=""></mat-option>
      </mat-select>
    </mat-form-field>

    <horizontal-space></horizontal-space>

    <mat-form-field>
      <mat-select placeholder='Cidade' [(value)]='pageable.status'>
        <mat-option [value]=""></mat-option>
      </mat-select>
    </mat-form-field>

    <horizontal-space></horizontal-space>

    <mat-form-field>
      <mat-select placeholder='Estado' [(value)]='pageable.status'>
        <mat-option [value]=""></mat-option>
      </mat-select>
    </mat-form-field>

    <div flex></div>
    <button mat-button style="color:#DE411A;" (click)="cleanFilters()">
      Limpar todos os filtros
    </button>
  </div>
</mat-card>

<div id='default-table'>
  <mat-table matSortActive='nome' [dataSource]='dataSource' matSortDisableClear #table matSortDirection='asc' matSort>
    <ng-container matColumnDef='usuario.documento'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Documento
      </mat-header-cell>

      <mat-cell *matCellDef='let fornecedor' routerLink='{{fornecedor.id}}'>
        <a ellipsis>
          {{ fornecedor?.usuario?.documento | documento}}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='razaoSocial'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Razão Social
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>
        <a routerLink='{{fornecedor?.id}}' style='height: 30px' ellipsis>
          {{ fornecedor?.razaoSocial }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='usuario.nome'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Nome Fantasia
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>
        <a routerLink='{{fornecedor?.id}}' style='height: 30px' ellipsis>
          {{ fornecedor?.usuario?.nome }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='created'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Data de Registro
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>
        <a routerLink='{{fornecedor?.id}}' style='height: 30px' ellipsis>
          {{ fornecedor?.created | date: 'dd/MM/yyyy'}}
        </a>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef='status'>
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Status
      </mat-header-cell>
      <mat-cell *matCellDef='let fornecedor'>

        <mat-chip-list style="width: 35%" [ngSwitch]='fornecedor?.status'>
          <mat-chip *ngSwitchCase="'EM_CRIACAO'" style="background-color: #4C4C4C !important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Em Criação
            </a>
          </mat-chip>

          <mat-chip *ngSwitchCase="'EM_ANALISE'" style="background-color: #F6B800!important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Em Análise
            </a>
          </mat-chip>
          <mat-chip *ngSwitchCase="'RECUSADO'" style="background-color: #E44451!important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Recusado
            </a>
          </mat-chip>

          <mat-chip *ngSwitchCase="'VENCIDO'"
                    style="background-color: #4C4C4C!important; opacity: 0.5!important; width: 100%">
            <a style="color: #FFFFFF!important; justify-content: center;">
              Vencido
            </a>
          </mat-chip>

          <mat-chip *ngSwitchCase="'APROVADO'" style="background-color: #2DB45C!important; width: 100%">
            <a style="color: #FFFFFF !important; justify-content: center;">
              Aprovado
            </a>
          </mat-chip>
        </mat-chip-list>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef='acoes'>
      <mat-header-cell *matHeaderCellDef class='actions' style="max-width: 10%!important">Ações</mat-header-cell>
      <mat-cell *matCellDef='let fornecedor' class='actions' style="max-width: 10%!important">

        <!--<button mat-button routerLink='{{fornecedor?.id}}' type='button'-->
        <!--[disabled]="fornecedor.status == 'CRIACAO' || fornecedor.status =='RECUSADO'">-->
        <button mat-button routerLink='{{fornecedor?.id}}' *ngIf="fornecedor.status != 'APROVADO'" type='button'>
          <mat-icon>visibility</mat-icon>
          Analisar
        </button>
        <button mat-button *ngIf="fornecedor.status == 'APROVADO'" type='button' style="color:#00ABAF!important;">
          <span style="color:#00ABAF!important;"> 
            <mat-icon>cloud_download</mat-icon>
            Baixar CRC
          </span>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let avisoEdital; columns: displayedColumns' style="height: 100%!important;"></mat-row>
  </mat-table>
  <no-records-found [dataSource]='dataSource?.data'></no-records-found>
  <mat-paginator [pageSizeOptions]='[5, 20, 50, 100]' [length]='totalElements' [pageIndex]="pageIndex"
                 [pageSize]="pageSize" [hidePageSize]='false' (page)='listByFilters()'>
  </mat-paginator>
</div>
