<!DOCTYPE html>
<html lang="pt-BR"
      layout:decorate="~{base.html}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>

<head>
  <script type="text/javascript" src="/resources/js/aplicacao.js"></script>
</head>

<div class="row" layout:fragment="content">
  <div class="col-md-12 mb-3">
    <h4>Manutenção de Aplicações</h4>
  </div>
  <div class="col-md-10">
    <div class="input-group">
      <input id="inFilter" type="text" class="form-control" placeholder="Nome ou identificador da aplicação">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" th:onclick="|buscarAplicacoes()|">Buscar</button>
      </div>
    </div>
  </div>
  <div class="col-md-2 text-right">
    <a role="button" class="btn btn-primary" th:href="@{/seguro/aplicacoes/cadastrar}">Adicionar</a>
  </div>
  <div class="col-md-12 mt-3">
    <div class="table-responsive" th:if="${#lists.size(aplicacoes) <= 0}">
      <div class="mt-4 text-center">
        <h3>Nenhum registro encontrado</h3>
      </div>
    </div>
    <div id="listaAplicacoesBox" class="table-responsive" th:if="${#lists.size(aplicacoes) > 0}">
      <table id="listaAplicacoes" class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col" style="width: 30%">Identificador (client Id)</th>
          <th scope="col" style="width: 12%">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aplicacao : ${aplicacoes}">
          <td th:text="${aplicacao.nome}"></td>
          <td th:text="${aplicacao.getIdentificador()}"></td>
          <td>
            <a role="button"
               class="btn btn-secondary button-with-icon"
               th:href="@{'/seguro/aplicacoes/detalhar/' + ${aplicacao.getId()}}">
              <i class="fa fa-search"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</html>
